nifi/user-templates/dt4h/annotate_dt4h_ann_manager.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>71a60584-0192-1000-a168-632907c8b398</groupId>
    <name>annotate_dt4h_ann_manager</name>
    <snippet>
        <controllerServices>
            <id>c7024722-456c-3e99-0000-000000000000</id>
            <parentGroupId>52526cb3-0b26-300b-0000-000000000000</parentGroupId>
            <versionedComponentId>c7024722-456c-3e99-ab60-1b81328f8488</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.25.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                    <value>/opt/nifi/nifi-current/es_certificates/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-keystore.jks</value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>PKCS12</value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/opt/nifi/nifi-current/es_certificates/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-truststore.key</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>PKCS12</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>cc500376-31e7-3401-0000-000000000000</id>
            <parentGroupId>52526cb3-0b26-300b-0000-000000000000</parentGroupId>
            <versionedComponentId>cc500376-31e7-3401-97ac-2cee3c45776d</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-elasticsearch-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.25.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>
                        <name>el-cs-http-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-path-prefix</key>
                    <value>
                        <name>el-cs-path-prefix</name>
                    </value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>
                        <name>authorization-scheme</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-username</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-password</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key-id</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key-id</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>el-cs-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>
                        <name>el-cs-connect-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>
                        <name>el-cs-socket-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>
                        <name>el-cs-retry-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>
                        <name>el-cs-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>
                        <name>el-cs-suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-enable-compression</key>
                    <value>
                        <name>el-cs-enable-compression</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-send-meta-header</key>
                    <value>
                        <name>el-cs-send-meta-header</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-strict-deprecation</key>
                    <value>
                        <name>el-cs-strict-deprecation</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-node-selector</key>
                    <value>
                        <name>el-cs-node-selector</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniff-cluster-nodes</key>
                    <value>
                        <name>el-cs-sniff-cluster-nodes</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-interval</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-interval</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-request-timeout</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-request-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniff-failure</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniff-failure</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-failure-delay</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-failure</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-failure-delay</name>
                    </value>
                </entry>
            </descriptors>
            <name>ElasticSearchClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>https://elasticsearch-1:9200</value>
                </entry>
                <entry>
                    <key>el-cs-path-prefix</key>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>BASIC</value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                </entry>
                <entry>
                    <key>api-key-id</key>
                </entry>
                <entry>
                    <key>api-key</key>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>c7024722-456c-3e99-0000-000000000000</value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>always-suppress</value>
                </entry>
                <entry>
                    <key>el-cs-enable-compression</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-send-meta-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-strict-deprecation</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-node-selector</key>
                    <value>ANY</value>
                </entry>
                <entry>
                    <key>el-cs-sniff-cluster-nodes</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-interval</key>
                    <value>5 mins</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-request-timeout</key>
                    <value>1 sec</value>
                </entry>
                <entry>
                    <key>el-cs-sniff-failure</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-failure-delay</key>
                    <value>1 min</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl</type>
        </controllerServices>
        <processGroups>
            <id>4943c17a-a33f-32a6-0000-000000000000</id>
            <parentGroupId>52526cb3-0b26-300b-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>4943c17a-a33f-32a6-b179-eebc061173c7</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>2ca58985-fbd6-3cce-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>2ca58985-fbd6-3cce-8bfe-ce7d6f5ca1f9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>9246601c-2016-35b2-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>9246601c-2016-35b2-8264-a34ed53c9777</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>3fa27aed-528f-36c1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3fa27aed-528f-36c1-946d-12d58aa18e80</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>53a3a798-847a-3035-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>53a3a798-847a-3035-8a7f-8e1a6113c46b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>46d02f14-c995-39c8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>742872f3-f447-3734-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>742872f3-f447-3734-a23a-bffb7b922d0b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5b1bb9cf-83e7-3d11-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>55a8fd9b-97be-3360-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>55a8fd9b-97be-3360-af8c-691338cc6a61</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>46d02f14-c995-39c8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5d869480-ac6f-3315-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>5d869480-ac6f-3315-abe5-d5c08629fdb4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>0bf2b681-ebe2-31ac-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>0bf2b681-ebe2-31ac-9f88-c8b09cd62cc9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>55a8fd9b-97be-3360-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>55a8fd9b-97be-3360-af8c-691338cc6a61</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>64133bf7-664d-3a5b-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>64133bf7-664d-3a5b-87fd-2e5a65268afa</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>09dd46b3-4072-34ce-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>09dd46b3-4072-34ce-bce7-5231d93f6fa8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>e0b26343-f4e2-3064-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e0b26343-f4e2-3064-b121-d69a5bb479f0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6992b2f7-b50b-3d70-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>6992b2f7-b50b-3d70-9393-3428ee24e5fe</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>7f204595-e77f-38c2-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>7f204595-e77f-38c2-a187-b4396e0dc546</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>5f6ac3ea-91e7-3365-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5f6ac3ea-91e7-3365-9135-edb901402a8e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>69f9818e-57dc-3e63-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>69f9818e-57dc-3e63-8d3c-01485866e02a</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>863f21c6-9e1a-30fa-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>863f21c6-9e1a-30fa-a464-f6baed697581</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>3fa27aed-528f-36c1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3fa27aed-528f-36c1-946d-12d58aa18e80</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b0d82ed4-3966-3146-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>b0d82ed4-3966-3146-ba83-7736625dcd31</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>8551fd66-6ddf-3bda-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>8551fd66-6ddf-3bda-9368-f6b9220d2d31</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>742872f3-f447-3734-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>742872f3-f447-3734-a23a-bffb7b922d0b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b91ba89f-cd1d-3fc6-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>b91ba89f-cd1d-3fc6-9f91-24e8c4b34911</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>5f6ac3ea-91e7-3365-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5f6ac3ea-91e7-3365-9135-edb901402a8e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>e0b26343-f4e2-3064-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e0b26343-f4e2-3064-b121-d69a5bb479f0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>be72c7f8-df55-3c76-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>be72c7f8-df55-3c76-bec3-961c92a6dacb</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>742872f3-f447-3734-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>742872f3-f447-3734-a23a-bffb7b922d0b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>3fa27aed-528f-36c1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3fa27aed-528f-36c1-946d-12d58aa18e80</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bf6ca398-458b-3116-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>bf6ca398-458b-3116-abf3-e6dbb2de9d1b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>7ff64a38-b95f-3af3-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>7ff64a38-b95f-3af3-a412-0a168e84ce3d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>55a8fd9b-97be-3360-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>55a8fd9b-97be-3360-af8c-691338cc6a61</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c01f15e9-9068-37a3-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>c01f15e9-9068-37a3-87d6-937eeffc720f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>e0b26343-f4e2-3064-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e0b26343-f4e2-3064-b121-d69a5bb479f0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>hits</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>ca2ddb57-3794-315e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ca2ddb57-3794-315e-9a9f-752598eb14ba</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fa4db21d-e9eb-303e-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <versionedComponentId>fa4db21d-e9eb-303e-9fcb-53b172d8f50d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>3fa27aed-528f-36c1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3fa27aed-528f-36c1-946d-12d58aa18e80</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>4943c17a-a33f-32a6-0000-000000000000</groupId>
                        <id>5f6ac3ea-91e7-3365-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5f6ac3ea-91e7-3365-9135-edb901402a8e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>09dd46b3-4072-34ce-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>840.0</x>
                        <y>1408.0</y>
                    </position>
                    <versionedComponentId>09dd46b3-4072-34ce-bce7-5231d93f6fa8</versionedComponentId>
                </funnels>
                <funnels>
                    <id>0bf2b681-ebe2-31ac-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>-24.0</x>
                        <y>2584.0</y>
                    </position>
                    <versionedComponentId>0bf2b681-ebe2-31ac-9f88-c8b09cd62cc9</versionedComponentId>
                </funnels>
                <funnels>
                    <id>7f204595-e77f-38c2-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1496.0</x>
                        <y>1560.0</y>
                    </position>
                    <versionedComponentId>7f204595-e77f-38c2-a187-b4396e0dc546</versionedComponentId>
                </funnels>
                <funnels>
                    <id>7ff64a38-b95f-3af3-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>816.0</x>
                        <y>2312.0</y>
                    </position>
                    <versionedComponentId>7ff64a38-b95f-3af3-a412-0a168e84ce3d</versionedComponentId>
                </funnels>
                <funnels>
                    <id>8551fd66-6ddf-3bda-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>824.0</x>
                        <y>1920.0</y>
                    </position>
                    <versionedComponentId>8551fd66-6ddf-3bda-9368-f6b9220d2d31</versionedComponentId>
                </funnels>
                <funnels>
                    <id>863f21c6-9e1a-30fa-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>-192.0</x>
                        <y>1720.0</y>
                    </position>
                    <versionedComponentId>863f21c6-9e1a-30fa-a464-f6baed697581</versionedComponentId>
                </funnels>
                <funnels>
                    <id>9246601c-2016-35b2-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>-192.0</x>
                        <y>1576.0</y>
                    </position>
                    <versionedComponentId>9246601c-2016-35b2-8264-a34ed53c9777</versionedComponentId>
                </funnels>
                <labels>
                    <id>011d41cb-500d-3be8-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>872.0</x>
                        <y>1664.0</y>
                    </position>
                    <height>96.0</height>
                    <label>Change the index_db_file_name param, and log_file_name param
/opt/nifi/user-scripts/annotation_manager.py;index_db_file_name="cardioccc.db";document_id_field="document_Id";log_file_name="cardioccc.log";

coy the above back into the command arguments property</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#efd9ff</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>976.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>71fa8862-67c3-32cc-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>216.0</x>
                        <y>1112.0</y>
                    </position>
                    <height>40.0</height>
                    <label>Modify index name here</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#fff1c7</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>192.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>e8e7a9d8-8722-30e3-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>-880.0</x>
                        <y>1888.0</y>
                    </position>
                    <height>96.0</height>
                    <label>Change the index_db_file_name param, and log_file_name param
/opt/nifi/user-scripts/annotation_manager.py;index_db_file_name="cardioccc.db";document_id_field="document_Id";log_file_name="cardioccc.log";operation_mode="insert";



coy the above back into the command arguments property, make sure to double check that the "operation_mode" parameter is set to "insert"</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ff9494</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>1040.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>f819ca46-5a1c-355c-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>544.0</x>
                        <y>2096.0</y>
                    </position>
                    <height>32.0</height>
                    <label>Change the filename  property to match whatever you want</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#efd9ff</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>336.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>3fa27aed-528f-36c1-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>176.0</x>
                        <y>1680.0</y>
                    </position>
                    <versionedComponentId>3fa27aed-528f-36c1-946d-12d58aa18e80</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>
    <name>Socket Write Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://dt4h-modelannotation-api:8000/process_bulk</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>600 secs</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>False</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>QueryNlpService-MedCAT-Bulk</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>46d02f14-c995-39c8-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>176.0</x>
                        <y>2080.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>your_index_name_Here</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>55a8fd9b-97be-3360-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>176.0</x>
                        <y>2272.0</y>
                    </position>
                    <versionedComponentId>55a8fd9b-97be-3360-af8c-691338cc6a61</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>/opt/data/ingestion/post_processing/cardioccc/sv/</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>5f6ac3ea-91e7-3365-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>840.0</x>
                        <y>1528.0</y>
                    </position>
                    <versionedComponentId>5f6ac3ea-91e7-3365-9135-edb901402a8e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                            <entry>
<key>Output MIME Type</key>
<value>
    <name>Output MIME Type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>python3</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>/opt/nifi/user-scripts/annotation_manager.py;index_db_file_name="cardioccc.db";document_id_field="document_Id";log_file_name="cardioccc.log";</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Output MIME Type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0.5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteStreamCommand-CheckIfAnnotated</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>742872f3-f447-3734-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>176.0</x>
                        <y>1880.0</y>
                    </position>
                    <versionedComponentId>742872f3-f447-3734-a23a-bffb7b922d0b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                            <entry>
<key>Output MIME Type</key>
<value>
    <name>Output MIME Type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>python3</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>/opt/nifi/user-scripts/annotation_manager.py;index_db_file_name="cardioccc.db";document_id_field="document_Id";log_file_name="cardioccc.log";operation_mode="insert";</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Output MIME Type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0.01 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteStreamCommand-UpdateAnnotationDB</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>ca2ddb57-3794-315e-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>184.0</x>
                        <y>1160.0</y>
                    </position>
                    <versionedComponentId>ca2ddb57-3794-315e-9a9f-752598eb14ba</versionedComponentId>
                    <bundle>
                        <artifact>nifi-elasticsearch-restapi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>el-rest-query-definition-style</key>
<value>
    <name>el-rest-query-definition-style</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-query</key>
<value>
    <dependencies>
        <dependentValues>full</dependentValues>
        <propertyName>el-rest-query-definition-style</propertyName>
    </dependencies>
    <name>el-rest-query</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-query-clause</key>
<value>
    <dependencies>
        <dependentValues>build</dependentValues>
        <propertyName>el-rest-query-definition-style</propertyName>
    </dependencies>
    <name>el-rest-query-clause</name>
</value>
                            </entry>
                            <entry>
<key>es-rest-size</key>
<value>
    <dependencies>
        <dependentValues>build</dependentValues>
        <propertyName>el-rest-query-definition-style</propertyName>
    </dependencies>
    <name>es-rest-size</name>
</value>
                            </entry>
                            <entry>
<key>es-rest-query-sort</key>
<value>
    <dependencies>
        <dependentValues>build</dependentValues>
        <propertyName>el-rest-query-definition-style</propertyName>
    </dependencies>
    <name>es-rest-query-sort</name>
</value>
                            </entry>
                            <entry>
<key>es-rest-query-aggs</key>
<value>
    <dependencies>
        <dependentValues>build</dependentValues>
        <propertyName>el-rest-query-definition-style</propertyName>
    </dependencies>
    <name>es-rest-query-aggs</name>
</value>
                            </entry>
                            <entry>
<key>es-rest-query-fields</key>
<value>
    <dependencies>
        <dependentValues>build</dependentValues>
        <propertyName>el-rest-query-definition-style</propertyName>
    </dependencies>
    <name>es-rest-query-fields</name>
</value>
                            </entry>
                            <entry>
<key>es-rest-query-script-fields</key>
<value>
    <dependencies>
        <dependentValues>build</dependentValues>
        <propertyName>el-rest-query-definition-style</propertyName>
    </dependencies>
    <name>es-rest-query-script-fields</name>
</value>
                            </entry>
                            <entry>
<key>el-query-attribute</key>
<value>
    <name>el-query-attribute</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-fetch-index</key>
<value>
    <name>el-rest-fetch-index</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-type</key>
<value>
    <name>el-rest-type</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
    <name>el-rest-client-service</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-split-up-hits</key>
<value>
    <name>el-rest-split-up-hits</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-format-hits</key>
<value>
    <name>el-rest-format-hits</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-split-up-aggregations</key>
<value>
    <name>el-rest-split-up-aggregations</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-format-aggregations</key>
<value>
    <name>el-rest-format-aggregations</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-output-no-hits</key>
<value>
    <name>el-rest-output-no-hits</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-pagination-type</key>
<value>
    <name>el-rest-pagination-type</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-pagination-keep-alive</key>
<value>
    <name>el-rest-pagination-keep-alive</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>el-rest-query-definition-style</key>
<value>full</value>
                            </entry>
                            <entry>
<key>el-rest-query</key>
<value>{
    "size": 10000,
    "query": { "match_all": {} },
    "_source": ["_id","document_Id","text"],
    "sort": [ { "_id": "asc" } ]
}</value>
                            </entry>
                            <entry>
<key>el-rest-query-clause</key>
                            </entry>
                            <entry>
<key>es-rest-size</key>
                            </entry>
                            <entry>
<key>es-rest-query-sort</key>
                            </entry>
                            <entry>
<key>es-rest-query-aggs</key>
                            </entry>
                            <entry>
<key>es-rest-query-fields</key>
                            </entry>
                            <entry>
<key>es-rest-query-script-fields</key>
                            </entry>
                            <entry>
<key>el-query-attribute</key>
                            </entry>
                            <entry>
<key>el-rest-fetch-index</key>
<value>cardioccc</value>
                            </entry>
                            <entry>
<key>el-rest-type</key>
                            </entry>
                            <entry>
<key>el-rest-client-service</key>
<value>cc500376-31e7-3401-0000-000000000000</value>
                            </entry>
                            <entry>
<key>el-rest-split-up-hits</key>
<value>splitUp-no</value>
                            </entry>
                            <entry>
<key>el-rest-format-hits</key>
<value>FULL</value>
                            </entry>
                            <entry>
<key>el-rest-split-up-aggregations</key>
<value>splitUp-no</value>
                            </entry>
                            <entry>
<key>el-rest-format-aggregations</key>
<value>FULL</value>
                            </entry>
                            <entry>
<key>el-rest-output-no-hits</key>
<value>false</value>
                            </entry>
                            <entry>
<key>el-rest-pagination-type</key>
<value>pagination-scroll</value>
                            </entry>
                            <entry>
<key>el-rest-pagination-keep-alive</key>
<value>12 hours</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>SearchElasticsearch</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>aggregations</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>hits</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.SearchElasticsearch</type>
                </processors>
                <processors>
                    <id>e0b26343-f4e2-3064-0000-000000000000</id>
                    <parentGroupId>4943c17a-a33f-32a6-0000-000000000000</parentGroupId>
                    <position>
                        <x>184.0</x>
                        <y>1368.0</y>
                    </position>
                    <versionedComponentId>e0b26343-f4e2-3064-b121-d69a5bb479f0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-scripting-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>DEBUG</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Script Engine</key>
<value>
    <name>Script Engine</name>
</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>
    <name>Script File</name>
</value>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>
    <name>Script Body</name>
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>
    <name>Module Directory</name>
</value>
                            </entry>
                            <entry>
<key>document_id_field</key>
<value>
    <name>document_id_field</name>
</value>
                            </entry>
                            <entry>
<key>document_text_field</key>
<value>
    <name>document_text_field</name>
</value>
                            </entry>
                            <entry>
<key>log_file_name</key>
<value>
    <name>log_file_name</name>
</value>
                            </entry>
                            <entry>
<key>log_invalid_records_to_file</key>
<value>
    <name>log_invalid_records_to_file</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Script Engine</key>
<value>python</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>/opt/nifi/user-scripts/parse-es-db-result-for-nlp-request-bulk.py</value>
                            </entry>
                            <entry>
<key>Script Body</key>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>${JYTHON_HOME}/Lib/site-packages</value>
                            </entry>
                            <entry>
<key>document_id_field</key>
<value>document_Id</value>
                            </entry>
                            <entry>
<key>document_text_field</key>
<value>text</value>
                            </entry>
                            <entry>
<key>log_file_name</key>
<value>nlp_request_bulk_parse_medical_text.log</value>
                            </entry>
                            <entry>
<key>log_invalid_records_to_file</key>
<value>True</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteScript-ConvertRecordToMedCATinput</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.script.ExecuteScript</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <logFileSuffix></logFileSuffix>
            <name>Annotate_DT4H</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/11/2025 10:38:28 GMT</timestamp>
</template>
