nifi/user-templates/legacy/OpenSearch_ingest_docs_DB_to_ES.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>140ffdb3-0184-1000-ce07-92d7ee295a65</groupId>
    <name>OpenSearch_ingest_docs_DB_to_ES</name>
    <snippet>
        <connections>
            <id>41e3bfb6-d1a5-3974-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>f82f90e0-e711-3806-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>3f02d6a1-8514-3746-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>764ec5c4-d268-373f-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>128.97702485329296</x>
                <y>510.1843347345525</y>
            </bends>
            <destination>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>f82f90e0-e711-3806-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>0f5df1dd-9b85-3739-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>80efa784-b3ea-31d9-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>0f5df1dd-9b85-3739-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>errors</selectedRelationships>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>f82f90e0-e711-3806-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>85881175-cc6f-3ee1-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>3f02d6a1-8514-3746-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>ece650cb-2a9b-3ee3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e2bf5b6c-13a0-338b-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>168.97702485329296</x>
                <y>246.18433473455252</y>
            </bends>
            <destination>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>3f02d6a1-8514-3746-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>4c14fbbf-2f2b-3eeb-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e73ef50f-962f-346c-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>4c14fbbf-2f2b-3eeb-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>297ea0e0-ee55-3fff-0000-000000000000</groupId>
                <id>3f02d6a1-8514-3746-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>42186dfd-1e39-3e73-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>
                        <name>encoder-pool-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroRecordSetWriter-Generic</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>avro-embedded</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>32</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>428cfa08-7045-3e0b-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <versionedComponentId>428cfa08-7045-3e0b-8d63-ed52c4d0e7ff</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool-MTSamples</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://samples-db:5432/db_samples</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/drivers/postgresql-42.6.0.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>test</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>6000 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>445acdcc-42e0-37e4-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <versionedComponentId>445acdcc-42e0-37e4-8dfd-769c9514b723</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                    <value>/opt/nifi/nifi-current/es_certificates/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-keystore.jks</value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>PKCS12</value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/opt/nifi/nifi-current/es_certificates/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-truststore.key</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>PKCS12</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>9578786f-a711-349e-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <versionedComponentId>9578786f-a711-349e-9f52-c5c1f6ae2878</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroReader-Generic</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>embedded-avro-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <controllerServices>
            <id>c7d656ec-0e39-3205-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <versionedComponentId>c7d656ec-0e39-3205-9fcd-7d4357b34d9e</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-elasticsearch-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>
                        <name>el-cs-http-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>
                        <name>el-cs-username</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                    <value>
                        <name>el-cs-password</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>el-cs-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>
                        <name>el-cs-connect-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>
                        <name>el-cs-socket-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>
                        <name>el-cs-retry-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>
                        <name>el-cs-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>
                        <name>el-cs-suppress-nulls</name>
                    </value>
                </entry>
            </descriptors>
            <name>ElasticSearchClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>https://elasticsearch-1:9200</value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>445acdcc-42e0-37e4-0000-000000000000</value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>always-suppress</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl</type>
        </controllerServices>
        <funnels>
            <id>0f5df1dd-9b85-3739-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>606.6667431589974</y>
            </position>
        </funnels>
        <funnels>
            <id>4c14fbbf-2f2b-3eeb-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <position>
                <x>0.97702485329296</x>
                <y>334.1843347345525</y>
            </position>
        </funnels>
        <labels>
            <id>c14892c6-8ba0-3a46-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <position>
                <x>406.65974186315066</x>
                <y>0.0</y>
            </position>
            <height>32.0</height>
            <label>Basic ES Ingestion from DB</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>184.0</width>
            <zIndex>0</zIndex>
        </labels>
        <processors>
            <id>3f02d6a1-8514-3746-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <position>
                <x>310.65974186315066</x>
                <y>280.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                        <value>
                            <name>sql-pre-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                        <value>
                            <name>sql-post-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esqlrecord-record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>esqlrecord-record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esqlrecord-normalize</key>
                        <value>
                            <name>esqlrecord-normalize</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>
                            <name>dbf-user-logical-types</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>
                            <name>esql-max-rows</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>
                            <name>esql-output-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>
                            <name>esql-fetch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>
                            <name>esql-auto-commit</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>428cfa08-7045-3e0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>60 seconds</value>
                    </entry>
                    <entry>
                        <key>esqlrecord-record-writer</key>
                        <value>42186dfd-1e39-3e73-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>esqlrecord-normalize</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>1000</value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>0</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteSQLRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQLRecord</type>
        </processors>
        <processors>
            <id>ece650cb-2a9b-3ee3-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <position>
                <x>310.65974186315066</x>
                <y>64.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>db-fetch-db-type</key>
                        <value>
                            <name>db-fetch-db-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Table Name</key>
                        <value>
                            <name>Table Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Columns to Return</key>
                        <value>
                            <name>Columns to Return</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum-value Columns</key>
                        <value>
                            <name>Maximum-value Columns</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gen-table-fetch-partition-size</key>
                        <value>
                            <name>gen-table-fetch-partition-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gen-table-column-for-val-partitioning</key>
                        <value>
                            <name>gen-table-column-for-val-partitioning</name>
                        </value>
                    </entry>
                    <entry>
                        <key>db-fetch-where-clause</key>
                        <value>
                            <name>db-fetch-where-clause</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gen-table-custom-orderby-column</key>
                        <value>
                            <name>gen-table-custom-orderby-column</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gen-table-output-flowfile-on-zero-results</key>
                        <value>
                            <name>gen-table-output-flowfile-on-zero-results</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>428cfa08-7045-3e0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>db-fetch-db-type</key>
                        <value>PostgreSQL</value>
                    </entry>
                    <entry>
                        <key>Table Name</key>
                        <value>medical_reports_text</value>
                    </entry>
                    <entry>
                        <key>Columns to Return</key>
                        <value>sampleid,typeid,dct,filename,"document",CAST(docid AS VARCHAR(255)) AS docid</value>
                    </entry>
                    <entry>
                        <key>Maximum-value Columns</key>
                        <value>docid</value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>gen-table-fetch-partition-size</key>
                        <value>1000</value>
                    </entry>
                    <entry>
                        <key>gen-table-column-for-val-partitioning</key>
                        <value>docid</value>
                    </entry>
                    <entry>
                        <key>db-fetch-where-clause</key>
                    </entry>
                    <entry>
                        <key>gen-table-custom-orderby-column</key>
                    </entry>
                    <entry>
                        <key>gen-table-output-flowfile-on-zero-results</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>0</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateTableFetch</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateTableFetch</type>
        </processors>
        <processors>
            <id>f82f90e0-e711-3806-0000-000000000000</id>
            <parentGroupId>297ea0e0-ee55-3fff-0000-000000000000</parentGroupId>
            <position>
                <x>312.97702485329296</x>
                <y>534.1843347345525</y>
            </position>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>
                            <name>put-es-record-index-op</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                        <value>
                            <name>put-es-record-at-timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-es-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>
                            <name>put-es-record-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                        <value>
                            <name>put-es-record-id-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-id-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-id-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                        <value>
                            <name>put-es-record-index-op-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                        <value>
                            <name>put-es-record-index-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                        <value>
                            <name>put-es-record-type-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                        <value>
                            <name>put-es-record-at-timestamp-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-at-timestamp-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-at-timestamp-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-date-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-time-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-timestamp-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>
                            <name>put-es-record-log-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>put-es-record-error-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-not_found-is-error</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>index</value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>medical_reports_text</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>c7d656ec-0e39-3205-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>9578786f-a711-349e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                        <value>/docid</value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                        <value>42186dfd-1e39-3e73-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutElasticsearchRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>errors</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>successful_records</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord</type>
        </processors>
    </snippet>
    <timestamp>10/31/2022 09:52:59 UTC</timestamp>
</template>
