nifi/user-templates/CogStack_Cohort_create_source_docs.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Create source docs for the CogStack Cohort tool.</description>
    <groupId>6a60aaa0-018d-1000-e7f5-4bcf8ab84817</groupId>
    <name>CogStack_Cohort_create_source_docs</name>
    <snippet>
        <connections>
            <id>24d61ddf-c4f6-3a92-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>24d61ddf-c4f6-3a92-970f-008a4fa5fbbe</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>d1e53967-c2ec-394e-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>d1e53967-c2ec-394e-8527-eee1e3c8a36e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>a4d63379-4aa7-3bb7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a4d63379-4aa7-3bb7-a224-e3a995a30469</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>25971974-d027-318c-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>25971974-d027-318c-8010-84551db9fa16</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>26255a3f-b4e9-384f-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>26255a3f-b4e9-384f-9c30-d7e472d7455f</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>f710ad2f-4da0-36c0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f710ad2f-4da0-36c0-8894-020161ab03c1</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4eeb5b2f-8b38-3229-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>da0f9bf1-0677-36c9-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>57a57c00-01c7-32f1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5b67bfec-d7ce-3981-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>5be72191-ed94-3f80-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>hits</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>af4ad2b1-2e82-37bf-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>af4ad2b1-2e82-37bf-a78c-dc2e865265c1</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>605ad7df-4119-3ed7-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>605ad7df-4119-3ed7-a775-9a3bffb5ee59</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>7dd60db1-2d31-351c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7dd60db1-2d31-351c-89c1-c2ed37eb4567</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>e4ad572d-99c6-335d-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e4ad572d-99c6-335d-8fee-db4e0d05ec2d</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7a2d1623-f147-331b-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>7a2d1623-f147-331b-803d-de9940687cab</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>e4ad572d-99c6-335d-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e4ad572d-99c6-335d-8fee-db4e0d05ec2d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>71bde74b-e1b9-38af-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>71bde74b-e1b9-38af-a977-c3b470f7866b</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8401294e-2b6e-3d95-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>8401294e-2b6e-3d95-9fed-90ed413856b6</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>71bde74b-e1b9-38af-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>71bde74b-e1b9-38af-a977-c3b470f7866b</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>a4d63379-4aa7-3bb7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a4d63379-4aa7-3bb7-a224-e3a995a30469</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>854832f1-0bf5-3903-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>854832f1-0bf5-3903-9900-5d03b4057cb3</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>a5436bd7-26bb-30bb-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>a5436bd7-26bb-30bb-90c8-3fff128b63fb</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>d0734b2f-aba4-385a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d0734b2f-aba4-385a-a9ac-0ef232d90725</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>892dcee5-4536-3434-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>892dcee5-4536-3434-ad34-7cb5899e0851</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>57a57c00-01c7-32f1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>hits</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>7eeac5f1-3266-32b5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7eeac5f1-3266-32b5-b125-2e22bd9e375a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ae182ee1-9da8-3034-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>ae182ee1-9da8-3034-8ba1-36462fac9b49</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>dac27e7d-95cc-355e-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>dac27e7d-95cc-355e-bd0e-0302a8aeb005</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>a4d63379-4aa7-3bb7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a4d63379-4aa7-3bb7-a224-e3a995a30469</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b60c6078-06b8-34de-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>b60c6078-06b8-34de-b2ea-bf29c190aca2</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>f055188a-7690-3670-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>f055188a-7690-3670-a19f-5f66540f17bd</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>aggregations</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>af4ad2b1-2e82-37bf-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>af4ad2b1-2e82-37bf-a78c-dc2e865265c1</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cd5d0e70-0fe1-3cc3-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>cd5d0e70-0fe1-3cc3-8570-074b9dd7d325</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>a4d63379-4aa7-3bb7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a4d63379-4aa7-3bb7-a224-e3a995a30469</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>d0734b2f-aba4-385a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d0734b2f-aba4-385a-a9ac-0ef232d90725</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>dc7a538f-8bba-31fd-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>dc7a538f-8bba-31fd-922a-fee798634dad</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>3d9a51b4-f3ec-3b80-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>3d9a51b4-f3ec-3b80-a4df-bafa1a13dcc3</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>7dd60db1-2d31-351c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7dd60db1-2d31-351c-89c1-c2ed37eb4567</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e2a0e013-2d90-3db8-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>e2a0e013-2d90-3db8-a5d5-3290998675ce</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>f055188a-7690-3670-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>f055188a-7690-3670-a19f-5f66540f17bd</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>aggregations</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>7eeac5f1-3266-32b5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7eeac5f1-3266-32b5-b125-2e22bd9e375a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e640123e-240d-3ef8-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>da0f9bf1-0677-36c9-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>5be72191-ed94-3f80-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ebd4ce54-a855-3e29-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>d0734b2f-aba4-385a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d0734b2f-aba4-385a-a9ac-0ef232d90725</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>57a57c00-01c7-32f1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f6e673fc-fc44-3d5f-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>f6e673fc-fc44-3d5f-b27a-c3cb53a3beb7</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>eea2cd33-d1a9-37a1-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>eea2cd33-d1a9-37a1-bcd8-87b2c2f027a4</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>d0734b2f-aba4-385a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d0734b2f-aba4-385a-a9ac-0ef232d90725</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f8310f1a-40c4-39c7-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>d0734b2f-aba4-385a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d0734b2f-aba4-385a-a9ac-0ef232d90725</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>ba40cb68-0d02-3fdf-0000-000000000000</groupId>
                <id>5be72191-ed94-3f80-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>7dfcc36f-c7f0-37d9-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>7dfcc36f-c7f0-37d9-a8a5-1b5a036f485b</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                    <value>/opt/nifi/nifi-current/es_certificates/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-keystore.jks</value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>PKCS12</value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/opt/nifi/nifi-current/es_certificates/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-truststore.key</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>PKCS12</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>944263c2-7443-35ce-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <versionedComponentId>944263c2-7443-35ce-9be6-5b38f8a0812e</versionedComponentId>
            <bulletinLevel>DEBUG</bulletinLevel>
            <bundle>
                <artifact>nifi-elasticsearch-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>
                        <name>el-cs-http-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-path-prefix</key>
                    <value>
                        <name>el-cs-path-prefix</name>
                    </value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>
                        <name>authorization-scheme</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-username</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-password</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key-id</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key-id</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>el-cs-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>
                        <name>el-cs-connect-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>
                        <name>el-cs-socket-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>
                        <name>el-cs-retry-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>
                        <name>el-cs-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>
                        <name>el-cs-suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-enable-compression</key>
                    <value>
                        <name>el-cs-enable-compression</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-send-meta-header</key>
                    <value>
                        <name>el-cs-send-meta-header</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-strict-deprecation</key>
                    <value>
                        <name>el-cs-strict-deprecation</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-node-selector</key>
                    <value>
                        <name>el-cs-node-selector</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniff-cluster-nodes</key>
                    <value>
                        <name>el-cs-sniff-cluster-nodes</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-interval</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-interval</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-request-timeout</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-request-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniff-failure</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniff-failure</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-failure-delay</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-failure</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-failure-delay</name>
                    </value>
                </entry>
            </descriptors>
            <name>ElasticSearchClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>https://elasticsearch-1:9200</value>
                </entry>
                <entry>
                    <key>el-cs-path-prefix</key>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>BASIC</value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                </entry>
                <entry>
                    <key>api-key-id</key>
                </entry>
                <entry>
                    <key>api-key</key>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>7dfcc36f-c7f0-37d9-0000-000000000000</value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>15000</value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>el-cs-enable-compression</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-send-meta-header</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>el-cs-strict-deprecation</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-node-selector</key>
                    <value>ANY</value>
                </entry>
                <entry>
                    <key>el-cs-sniff-cluster-nodes</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-interval</key>
                    <value>5 mins</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-request-timeout</key>
                    <value>1 sec</value>
                </entry>
                <entry>
                    <key>el-cs-sniff-failure</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-failure-delay</key>
                    <value>1 min</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl</type>
        </controllerServices>
        <funnels>
            <id>26255a3f-b4e9-384f-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>392.0</x>
                <y>928.0</y>
            </position>
            <versionedComponentId>26255a3f-b4e9-384f-9c30-d7e472d7455f</versionedComponentId>
        </funnels>
        <funnels>
            <id>3d9a51b4-f3ec-3b80-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>2032.0</x>
                <y>1584.0</y>
            </position>
            <versionedComponentId>3d9a51b4-f3ec-3b80-a4df-bafa1a13dcc3</versionedComponentId>
        </funnels>
        <funnels>
            <id>a5436bd7-26bb-30bb-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1984.0</x>
                <y>824.0</y>
            </position>
            <versionedComponentId>a5436bd7-26bb-30bb-90c8-3fff128b63fb</versionedComponentId>
        </funnels>
        <funnels>
            <id>d1e53967-c2ec-394e-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1984.0</x>
                <y>968.0</y>
            </position>
            <versionedComponentId>d1e53967-c2ec-394e-8527-eee1e3c8a36e</versionedComponentId>
        </funnels>
        <funnels>
            <id>da0f9bf1-0677-36c9-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1552.0</x>
                <y>496.0</y>
            </position>
        </funnels>
        <funnels>
            <id>dac27e7d-95cc-355e-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1984.0</x>
                <y>1040.0</y>
            </position>
            <versionedComponentId>dac27e7d-95cc-355e-bd0e-0302a8aeb005</versionedComponentId>
        </funnels>
        <funnels>
            <id>eea2cd33-d1a9-37a1-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1984.0</x>
                <y>760.0</y>
            </position>
            <versionedComponentId>eea2cd33-d1a9-37a1-bcd8-87b2c2f027a4</versionedComponentId>
        </funnels>
        <funnels>
            <id>f055188a-7690-3670-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1552.0</x>
                <y>264.0</y>
            </position>
            <versionedComponentId>f055188a-7690-3670-a19f-5f66540f17bd</versionedComponentId>
        </funnels>
        <labels>
            <id>025c1003-a0a3-3908-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1904.0</x>
                <y>184.0</y>
            </position>
            <height>32.0</height>
            <label>Change the query and index name.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>352.0</width>
            <zIndex>4</zIndex>
        </labels>
        <labels>
            <id>0f4b7612-1522-301e-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>776.0</x>
                <y>8.0</y>
            </position>
            <height>1704.0</height>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#ffdfde</value>
                </entry>
            </style>
            <width>1696.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>21212aa8-6a49-330c-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>104.0</x>
                <y>40.0</y>
            </position>
            <height>128.0</height>
            <label>Step II: execute this only once. 
Currently this works with 
static file names that you 
have to declare in the "arguments" property."</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#9cccff</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>22px</value>
                </entry>
            </style>
            <width>576.0</width>
            <zIndex>6</zIndex>
        </labels>
        <labels>
            <id>4723675e-3311-3e39-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>2264.0</x>
                <y>456.0</y>
            </position>
            <height>128.0</height>
            <label>Optional, change the minimum 
amount of files to be merged.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>176.0</width>
            <zIndex>3</zIndex>
        </labels>
        <labels>
            <id>5477f249-906f-3ca1-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>240.0</x>
                <y>360.0</y>
            </position>
            <height>352.0</height>
            <label>You MUST set/change the following parameters:

patient_id_field_name="patient"
patient_ethnicity_field_name="ethnicity"
patient_gender_field_name="gender"
patient_birth_date_field_name="birthdate"
patient_death_date_field_name="deathdate"


The source of the document id, 
always use the "meta.docid" or "meta.document_id_field" 
that you declared when annotating documents, 
the prefix will be cutoff, 
it must be the same field name
as in the original patient record docs

annotation_document_id_field_name="meta.docid"

IMPORTANT: you may also need to set the date and time format. 
the fields that have dates in them should be the same format. 
Set via the "date_time_format" argument (Default: %Y-%m-%d).

Place these parameters in the "Command arguments" property, 
delimited by ";".

</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>352.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>860711d2-08bc-37b8-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>152.0</y>
            </position>
            <height>64.0</height>
            <label>Modify the Query parameter to include/exclude fields, 
you should exclude the "text" field as you won't be using it here. 
For the samples DB, the text field is "document".
Also the change index name.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>352.0</width>
            <zIndex>1</zIndex>
        </labels>
        <labels>
            <id>eba8b945-5e84-301e-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <height>1704.0</height>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#d4ecff</value>
                </entry>
            </style>
            <width>760.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>fdc8b666-d08d-3712-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1152.0</x>
                <y>48.0</y>
            </position>
            <height>40.0</height>
            <label>Step I: grab annotations and records and pile them up creating separate dated JSON files.</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#ff9ca6</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>22px</value>
                </entry>
            </style>
            <width>904.0</width>
            <zIndex>5</zIndex>
        </labels>
        <processors>
            <id>57a57c00-01c7-32f1-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1904.0</x>
                <y>456.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>
                            <name>Merge Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>
                            <name>Merge Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Correlation Attribute Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>
                            <dependencies>
<dependentValues>Avro</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>mergecontent-metadata-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Minimum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Maximum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Minimum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Maximum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                        <value>
                            <name>Max Bin Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>
                            <name>Maximum number of Bins</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Delimiter Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Header File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Footer File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Demarcator File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>
                            <dependencies>
<dependentValues>ZIP</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Compression Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>
                            <dependencies>
<dependentValues>ZIP</dependentValues>
<dependentValues>TAR</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Keep Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>
                            <dependencies>
<dependentValues>TAR</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Tar Modified Time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>Binary Concatenation</value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep All Unique Attributes</value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>Do Not Merge Uncommon Metadata</value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>50</value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>Do Not Use Delimiters</value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>${file.lastModifiedTime}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeContent</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
            <id>5be72191-ed94-3f80-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>456.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>
                            <name>Merge Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>
                            <name>Merge Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Correlation Attribute Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>
                            <dependencies>
<dependentValues>Avro</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>mergecontent-metadata-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Minimum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Maximum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Minimum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Maximum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                        <value>
                            <name>Max Bin Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>
                            <name>Maximum number of Bins</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Delimiter Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Header File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Footer File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Demarcator File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>
                            <dependencies>
<dependentValues>ZIP</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Compression Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>
                            <dependencies>
<dependentValues>ZIP</dependentValues>
<dependentValues>TAR</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Keep Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>
                            <dependencies>
<dependentValues>TAR</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Tar Modified Time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>Binary Concatenation</value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep All Unique Attributes</value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>Do Not Merge Uncommon Metadata</value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>50</value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>Do Not Use Delimiters</value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>${file.lastModifiedTime}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeContent</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
            <id>71bde74b-e1b9-38af-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1392.0</x>
                <y>1160.0</y>
            </position>
            <versionedComponentId>71bde74b-e1b9-38af-a977-c3b470f7866b</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>timestamp</key>
                        <value>
                            <name>timestamp</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>timestamp</key>
                        <value>${now():format('yyyy_MM_dd_HH_mm_SS')}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute-addTimestamp</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>7dd60db1-2d31-351c-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1392.0</x>
                <y>1544.0</y>
            </position>
            <versionedComponentId>7dd60db1-2d31-351c-89c1-c2ed37eb4567</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/opt/data/cogstack-cohort/</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>7eeac5f1-3266-32b5-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1904.0</x>
                <y>224.0</y>
            </position>
            <versionedComponentId>7eeac5f1-3266-32b5-b125-2e22bd9e375a</versionedComponentId>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>el-rest-query-definition-style</key>
                        <value>
                            <name>el-rest-query-definition-style</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-query</key>
                        <value>
                            <dependencies>
<dependentValues>full</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>el-rest-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-query-clause</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>el-rest-query-clause</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-size</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-query-sort</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-query-sort</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-query-aggs</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-query-aggs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-query-fields</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-query-fields</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-query-script-fields</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-query-script-fields</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-query-attribute</key>
                        <value>
                            <name>el-query-attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-hits</key>
                        <value>
                            <name>el-rest-split-up-hits</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-format-hits</key>
                        <value>
                            <name>el-rest-format-hits</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-aggregations</key>
                        <value>
                            <name>el-rest-split-up-aggregations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-format-aggregations</key>
                        <value>
                            <name>el-rest-format-aggregations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-output-no-hits</key>
                        <value>
                            <name>el-rest-output-no-hits</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-type</key>
                        <value>
                            <name>el-rest-pagination-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-keep-alive</key>
                        <value>
                            <name>el-rest-pagination-keep-alive</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>el-rest-query-definition-style</key>
                        <value>full</value>
                    </entry>
                    <entry>
                        <key>el-rest-query</key>
                        <value>{
 "size": 10000,
 "query": { "match_all": {} },
 "sort": [ { "timestamp": "asc" } ]
}</value>
                    </entry>
                    <entry>
                        <key>el-rest-query-clause</key>
                    </entry>
                    <entry>
                        <key>es-rest-size</key>
                    </entry>
                    <entry>
                        <key>es-rest-query-sort</key>
                    </entry>
                    <entry>
                        <key>es-rest-query-aggs</key>
                    </entry>
                    <entry>
                        <key>es-rest-query-fields</key>
                    </entry>
                    <entry>
                        <key>es-rest-query-script-fields</key>
                    </entry>
                    <entry>
                        <key>el-query-attribute</key>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>medical_reports_anns_medcat_medmen</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>944263c2-7443-35ce-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-hits</key>
                        <value>splitUp-no</value>
                    </entry>
                    <entry>
                        <key>el-rest-format-hits</key>
                        <value>FULL</value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-aggregations</key>
                        <value>splitUp-no</value>
                    </entry>
                    <entry>
                        <key>el-rest-format-aggregations</key>
                        <value>FULL</value>
                    </entry>
                    <entry>
                        <key>el-rest-output-no-hits</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-type</key>
                        <value>pagination-search_after</value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-keep-alive</key>
                        <value>60 minutes</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>true</executionNodeRestricted>
            <name>SearchElasticsearch-medical_reports_text_annotations</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>aggregations</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>hits</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.SearchElasticsearch</type>
        </processors>
        <processors>
            <id>a4d63379-4aa7-3bb7-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1392.0</x>
                <y>960.0</y>
            </position>
            <versionedComponentId>a4d63379-4aa7-3bb7-a224-e3a995a30469</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>
                            <name>Max String Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>*._source</key>
                        <value>
                            <name>*._source</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-content</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>100 MB</value>
                    </entry>
                    <entry>
                        <key>*._source</key>
                        <value>*._source</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath-grabSourceField</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>af4ad2b1-2e82-37bf-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>224.0</y>
            </position>
            <versionedComponentId>af4ad2b1-2e82-37bf-a78c-dc2e865265c1</versionedComponentId>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>el-rest-query-definition-style</key>
                        <value>
                            <name>el-rest-query-definition-style</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-query</key>
                        <value>
                            <dependencies>
<dependentValues>full</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>el-rest-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-query-clause</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>el-rest-query-clause</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-size</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-query-sort</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-query-sort</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-query-aggs</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-query-aggs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-query-fields</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-query-fields</name>
                        </value>
                    </entry>
                    <entry>
                        <key>es-rest-query-script-fields</key>
                        <value>
                            <dependencies>
<dependentValues>build</dependentValues>
<propertyName>el-rest-query-definition-style</propertyName>
                            </dependencies>
                            <name>es-rest-query-script-fields</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-query-attribute</key>
                        <value>
                            <name>el-query-attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-hits</key>
                        <value>
                            <name>el-rest-split-up-hits</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-format-hits</key>
                        <value>
                            <name>el-rest-format-hits</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-aggregations</key>
                        <value>
                            <name>el-rest-split-up-aggregations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-format-aggregations</key>
                        <value>
                            <name>el-rest-format-aggregations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-output-no-hits</key>
                        <value>
                            <name>el-rest-output-no-hits</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-type</key>
                        <value>
                            <name>el-rest-pagination-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-keep-alive</key>
                        <value>
                            <name>el-rest-pagination-keep-alive</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>el-rest-query-definition-style</key>
                        <value>full</value>
                    </entry>
                    <entry>
                        <key>el-rest-query</key>
                        <value>{
 "size": 10000,
 "query": { "match_all": {} },"_source": {
        "exclude": [ "document" ]
    },
 "sort": [ { "_id": "asc" } ]
}</value>
                    </entry>
                    <entry>
                        <key>el-rest-query-clause</key>
                    </entry>
                    <entry>
                        <key>es-rest-size</key>
                    </entry>
                    <entry>
                        <key>es-rest-query-sort</key>
                    </entry>
                    <entry>
                        <key>es-rest-query-aggs</key>
                    </entry>
                    <entry>
                        <key>es-rest-query-fields</key>
                    </entry>
                    <entry>
                        <key>es-rest-query-script-fields</key>
                    </entry>
                    <entry>
                        <key>el-query-attribute</key>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>medical_reports_text</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>944263c2-7443-35ce-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-hits</key>
                        <value>splitUp-no</value>
                    </entry>
                    <entry>
                        <key>el-rest-format-hits</key>
                        <value>FULL</value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-aggregations</key>
                        <value>splitUp-no</value>
                    </entry>
                    <entry>
                        <key>el-rest-format-aggregations</key>
                        <value>FULL</value>
                    </entry>
                    <entry>
                        <key>el-rest-output-no-hits</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-type</key>
                        <value>pagination-search_after</value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-keep-alive</key>
                        <value>60 minutes</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>true</executionNodeRestricted>
            <name>SearchElasticsearch-patient_records-medical_reports_text</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>aggregations</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>hits</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.SearchElasticsearch</type>
        </processors>
        <processors>
            <id>d0734b2f-aba4-385a-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1392.0</x>
                <y>760.0</y>
            </position>
            <versionedComponentId>d0734b2f-aba4-385a-a9ac-0ef232d90725</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>
                            <name>Max String Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>100 MB</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>$.[0]._index</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath-grabFileName</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>e4ad572d-99c6-335d-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>1392.0</x>
                <y>1360.0</y>
            </position>
            <versionedComponentId>e4ad572d-99c6-335d-8fee-db4e0d05ec2d</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${filename:append("_"):append(${timestamp}):append(".json")}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute-filename</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>f710ad2f-4da0-36c0-0000-000000000000</id>
            <parentGroupId>ba40cb68-0d02-3fdf-0000-000000000000</parentGroupId>
            <position>
                <x>240.0</x>
                <y>720.0</y>
            </position>
            <versionedComponentId>f710ad2f-4da0-36c0-8894-020161ab03c1</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.24.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>DEBUG</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Command</key>
                        <value>
                            <name>Command</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Duration</key>
                        <value>
                            <name>Batch Duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Redirect Error Stream</key>
                        <value>
                            <name>Redirect Error Stream</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output MIME type</key>
                        <value>
                            <name>Output MIME type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Command</key>
                        <value>python3</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>/opt/nifi/user-scripts/cogstack_cohort_generate_data.py;input_annotations_records_path=/opt/data/cogstack-cohort/medical_reports_anns_medcat_medmen.json;input_patient_records_path=/opt/data/cogstack-cohort/medical_reports_text.json;annotation_document_id_field_name="meta.docid";</value>
                    </entry>
                    <entry>
                        <key>Batch Duration</key>
                    </entry>
                    <entry>
                        <key>Redirect Error Stream</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>/opt/data/cogstack-cohort/</value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>;</value>
                    </entry>
                    <entry>
                        <key>Output MIME type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteProcess-GenerateCohortFiles</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
        </processors>
    </snippet>
    <timestamp>02/19/2024 12:25:43 GMT</timestamp>
</template>
