nifi/user-templates/opensearch_docs_ingest_annotations_to_es.json
{"flowContents":{"identifier":"4f6ef035-0199-1000-2908-9b0d750bc18c","instanceIdentifier":"2c99a7e3-98d1-37d9-2345-149e41abaa26","name":"opensearch_docs_ingest_annotations_to_es","comments":"","position":{"x":-488.0,"y":-720.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4f6ef03a-0199-1000-bf6b-34d8129e4932","instanceIdentifier":"bc394929-a745-3a6d-b88b-ba9292b7f54a","name":"PutElasticsearchJson","comments":"","position":{"x":-224.0,"y":-48.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.6.0"},"properties":{"put-es-json-dynamic_templates":null,"Max JSON Field String Length":"20 MB","put-es-record-batch-size":"100","put-es-record-index-op":"index","put-es-output-error-responses":"false","el-rest-fetch-index":"encounters_annotations","put-es-json-scripted-upsert":"false","put-es-json-charset":"UTF-8","el-rest-client-service":"06280792-dc54-3d7a-9d35-76ce834dcec3","put-es-record-log-error-responses":"false","put-es-json-id-attr":"annotation_id","el-rest-type":null,"put-es-not_found-is-error":"true","put-es-json-script":null},"propertyDescriptors":{"put-es-json-dynamic_templates":{"name":"put-es-json-dynamic_templates","displayName":"Dynamic Templates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-batch-size":{"name":"put-es-record-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-op":{"name":"put-es-record-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-output-error-responses":{"name":"put-es-output-error-responses","displayName":"Output Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-fetch-index":{"name":"el-rest-fetch-index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-scripted-upsert":{"name":"put-es-json-scripted-upsert","displayName":"Scripted Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-charset":{"name":"put-es-json-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-client-service":{"name":"el-rest-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-log-error-responses":{"name":"put-es-record-log-error-responses","displayName":"Log Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-id-attr":{"name":"put-es-json-id-attr","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-type":{"name":"el-rest-type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-not_found-is-error":{"name":"put-es-not_found-is-error","displayName":"Treat \"Not Found\" as Success","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-script":{"name":"put-es-json-script","displayName":"Script","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["successful"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"7824060e-49ad-3398-8b25-28be95944992","instanceIdentifier":"64bac204-019a-1000-0de5-7317fa1baece","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","position":{"x":408.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"annotation_id":"$.annotation_id","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"annotation_id":{"name":"annotation_id","displayName":"annotation_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef039-0199-1000-a2bf-35cc59e5c5d4","instanceIdentifier":"ba54edee-cf06-3323-e8fc-2319dbb87cfd","name":"PrepareRecordForNlp","comments":"","position":{"x":-224.0,"y":-688.0},"type":"PrepareRecordForNlp","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1"},"properties":{"document_text_field_name":"text","process_flow_file_type":"json","document_id_field_name":"id"},"propertyDescriptors":{"document_text_field_name":{"name":"document_text_field_name","displayName":"document_text_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"process_flow_file_type":{"name":"process_flow_file_type","displayName":"process_flow_file_type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"document_id_field_name":{"name":"document_id_field_name","displayName":"document_id_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef038-0199-1000-a0ed-ac10e18267f9","instanceIdentifier":"a2c6ca7c-9418-3108-59af-12d17238643d","name":"SearchElasticsearch","comments":"","position":{"x":-224.0,"y":-888.0},"type":"org.apache.nifi.processors.elasticsearch.SearchElasticsearch","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.6.0"},"properties":{"el-rest-pagination-type":"pagination-scroll","es-rest-size":null,"es-rest-query-sort":null,"Max JSON Field String Length":"20 MB","el-rest-query-clause":null,"el-rest-query-definition-style":"full","es-rest-query-script-fields":null,"es-rest-query-aggs":null,"el-rest-pagination-keep-alive":"10 mins","el-rest-format-hits":"SOURCE_ONLY","el-rest-split-up-hits":"splitUp-no","el-rest-query":"{ \"_source\": [\"id\", \"text\"],\n  \"query\": {\n    \"bool\": {\n      \"must\": [\n        { \"exists\": { \"field\": \"text\" } }\n      ]\n    }\n  }\n}","el-rest-split-up-aggregations":"splitUp-no","el-rest-format-aggregations":"BUCKETS_ONLY","el-rest-fetch-index":"encounters","el-rest-output-no-hits":"false","el-rest-client-service":"06280792-dc54-3d7a-9d35-76ce834dcec3","el-rest-type":null,"restart-on-finish":"false","es-rest-query-fields":null,"el-query-attribute":null},"propertyDescriptors":{"el-rest-pagination-type":{"name":"el-rest-pagination-type","displayName":"Pagination Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"es-rest-size":{"name":"es-rest-size","displayName":"Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"es-rest-query-sort":{"name":"es-rest-query-sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-query-clause":{"name":"el-rest-query-clause","displayName":"Query Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-query-definition-style":{"name":"el-rest-query-definition-style","displayName":"Query Definition Style","identifiesControllerService":false,"sensitive":false,"dynamic":false},"es-rest-query-script-fields":{"name":"es-rest-query-script-fields","displayName":"Script Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"es-rest-query-aggs":{"name":"es-rest-query-aggs","displayName":"Aggregations","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-pagination-keep-alive":{"name":"el-rest-pagination-keep-alive","displayName":"Pagination Keep Alive","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-format-hits":{"name":"el-rest-format-hits","displayName":"Search Results Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-split-up-hits":{"name":"el-rest-split-up-hits","displayName":"Search Results Split","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-query":{"name":"el-rest-query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-split-up-aggregations":{"name":"el-rest-split-up-aggregations","displayName":"Aggregation Results Split","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-format-aggregations":{"name":"el-rest-format-aggregations","displayName":"Aggregation Results Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-fetch-index":{"name":"el-rest-fetch-index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-output-no-hits":{"name":"el-rest-output-no-hits","displayName":"Output No Hits","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-client-service":{"name":"el-rest-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-rest-type":{"name":"el-rest-type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"restart-on-finish":{"name":"restart-on-finish","displayName":"Restart On Finish?","identifiesControllerService":false,"sensitive":false,"dynamic":false},"es-rest-query-fields":{"name":"es-rest-query-fields","displayName":"Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-query-attribute":{"name":"el-query-attribute","displayName":"Query Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","instanceIdentifier":"dcd2d3ab-d6ec-3d18-ccc8-2c96b049b7e5","name":"SplitJson","comments":"","position":{"x":408.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef037-0199-1000-3a77-cb27fc945e04","instanceIdentifier":"7a00c8f1-408d-3f43-293b-1fee1c451654","name":"ParseCogStackServiceResult","comments":"","position":{"x":-224.0,"y":-264.0},"type":"ParseCogStackServiceResult","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1"},"properties":{"document_text_field_name":"text","medcat_output_mode":"not_set","service_message_type":"medcat","output_text_field_name":"text","document_id_field_name":"id","medcat_deid_keep_annotations":"false"},"propertyDescriptors":{"document_text_field_name":{"name":"document_text_field_name","displayName":"document_text_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"medcat_output_mode":{"name":"medcat_output_mode","displayName":"medcat_output_mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service_message_type":{"name":"service_message_type","displayName":"service_message_type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output_text_field_name":{"name":"output_text_field_name","displayName":"output_text_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"document_id_field_name":{"name":"document_id_field_name","displayName":"document_id_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"medcat_deid_keep_annotations":{"name":"medcat_deid_keep_annotations","displayName":"medcat_deid_keep_annotations","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef03b-0199-1000-ce55-a83a235f6052","instanceIdentifier":"7f451015-89a1-3dab-0a9f-6a6f9b33ec6b","name":"InvokeHTTP","comments":"","position":{"x":-224.0,"y":-472.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"True","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://cogstack-medcat-service-production:5000/api/process_bulk","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4f6ef051-0199-1000-540c-72aa95c7f5aa","instanceIdentifier":"b01f1d84-1072-3080-891a-40fd8a2430ed","name":"","source":{"id":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"SplitJson","comments":"","instanceIdentifier":"dcd2d3ab-d6ec-3d18-ccc8-2c96b049b7e5"},"destination":{"id":"4f6ef03c-0199-1000-fada-c641cccb88e0","type":"FUNNEL","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"Funnel","comments":"","instanceIdentifier":"4f5dcd68-d034-310a-f613-9ea0f05b05b7"},"labelIndex":0,"zIndex":16,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef048-0199-1000-e3e1-ed0581d1e39b","instanceIdentifier":"9e2f6834-11d1-3152-b6fe-af3f4d8efc8e","name":"","source":{"id":"4f6ef038-0199-1000-a0ed-ac10e18267f9","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"SearchElasticsearch","comments":"","instanceIdentifier":"a2c6ca7c-9418-3108-59af-12d17238643d"},"destination":{"id":"4f6ef039-0199-1000-a2bf-35cc59e5c5d4","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"PrepareRecordForNlp","comments":"","instanceIdentifier":"ba54edee-cf06-3323-e8fc-2319dbb87cfd"},"labelIndex":0,"zIndex":1,"selectedRelationships":["hits","aggregations"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef04a-0199-1000-fa89-a31050551c4c","instanceIdentifier":"d92a0fa2-42aa-3074-eb81-c5ace7c44e5f","name":"","source":{"id":"4f6ef03b-0199-1000-ce55-a83a235f6052","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"InvokeHTTP","comments":"","instanceIdentifier":"7f451015-89a1-3dab-0a9f-6a6f9b33ec6b"},"destination":{"id":"4f6ef041-0199-1000-414e-f0d8b090d0fc","type":"FUNNEL","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"Funnel","comments":"","instanceIdentifier":"2e3fbd7b-19b7-36ed-5a15-675a54f93739"},"labelIndex":0,"zIndex":6,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"d25b7cf5-d43f-3bed-b1dc-c57fa67c3085","instanceIdentifier":"64bbf311-019a-1000-3d1e-4853dd41daa4","name":"","source":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"64bac204-019a-1000-0de5-7317fa1baece"},"destination":{"id":"9235994b-7e87-3c4c-9367-3120d9ae1701","type":"FUNNEL","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"Funnel","comments":"","instanceIdentifier":"64bbe06a-019a-1000-1db4-6451cafadd67"},"labelIndex":0,"zIndex":20,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef050-0199-1000-ed55-315999e71dd3","instanceIdentifier":"504a3379-407b-3eba-6324-ecd181d29315","name":"","source":{"id":"4f6ef03a-0199-1000-bf6b-34d8129e4932","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"PutElasticsearchJson","comments":"","instanceIdentifier":"bc394929-a745-3a6d-b88b-ba9292b7f54a"},"destination":{"id":"4f6ef040-0199-1000-58f9-341dd241015a","type":"FUNNEL","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"Funnel","comments":"","instanceIdentifier":"751b9f99-488f-3eb9-8f73-df4f56d4e911"},"labelIndex":0,"zIndex":14,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef04b-0199-1000-8171-7f5508365aa5","instanceIdentifier":"7d02fcf7-37a0-3094-82ed-a16710d9334f","name":"","source":{"id":"4f6ef038-0199-1000-a0ed-ac10e18267f9","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"SearchElasticsearch","comments":"","instanceIdentifier":"a2c6ca7c-9418-3108-59af-12d17238643d"},"destination":{"id":"4f6ef03f-0199-1000-e999-88a80c4dc736","type":"FUNNEL","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"Funnel","comments":"","instanceIdentifier":"c560755b-7141-35a8-1563-458a06bcd081"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef047-0199-1000-833f-d750174bb0e8","instanceIdentifier":"347d8b64-9e08-340e-4efc-62b7ca03b298","name":"","source":{"id":"4f6ef039-0199-1000-a2bf-35cc59e5c5d4","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"PrepareRecordForNlp","comments":"","instanceIdentifier":"ba54edee-cf06-3323-e8fc-2319dbb87cfd"},"destination":{"id":"4f6ef03b-0199-1000-ce55-a83a235f6052","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"InvokeHTTP","comments":"","instanceIdentifier":"7f451015-89a1-3dab-0a9f-6a6f9b33ec6b"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef049-0199-1000-3b5e-ae207d2827df","instanceIdentifier":"8a081b73-52ed-3f2f-9ce7-cc0fa30c8edb","name":"","source":{"id":"4f6ef039-0199-1000-a2bf-35cc59e5c5d4","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"PrepareRecordForNlp","comments":"","instanceIdentifier":"ba54edee-cf06-3323-e8fc-2319dbb87cfd"},"destination":{"id":"4f6ef03e-0199-1000-8d30-641327254f9a","type":"FUNNEL","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"Funnel","comments":"","instanceIdentifier":"e0a72e5c-2089-3b15-0516-5d3a1a541e49"},"labelIndex":0,"zIndex":4,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef04e-0199-1000-cf82-d9da33757a0d","instanceIdentifier":"f55c2b0e-b583-3232-0fe7-41826d97088e","name":"","source":{"id":"4f6ef03a-0199-1000-bf6b-34d8129e4932","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"PutElasticsearchJson","comments":"","instanceIdentifier":"bc394929-a745-3a6d-b88b-ba9292b7f54a"},"destination":{"id":"4f6ef042-0199-1000-a1ff-821b7e239448","type":"FUNNEL","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"Funnel","comments":"","instanceIdentifier":"25106100-86d1-3c48-9790-eea9dc409a10"},"labelIndex":0,"zIndex":13,"selectedRelationships":["failure","retry","errors"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef04d-0199-1000-69b3-4d8ec67ea6f2","instanceIdentifier":"e2b80e81-9954-35d1-54c3-8dff40ff28a3","name":"","source":{"id":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"SplitJson","comments":"","instanceIdentifier":"dcd2d3ab-d6ec-3d18-ccc8-2c96b049b7e5"},"destination":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"64bac204-019a-1000-0de5-7317fa1baece"},"labelIndex":0,"zIndex":17,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"15b0139a-cd12-333c-9ceb-0b05b63d3de6","instanceIdentifier":"64bbb5de-019a-1000-705d-f03c3904fc2c","name":"","source":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"64bac204-019a-1000-0de5-7317fa1baece"},"destination":{"id":"bc6e34fd-b83a-38dd-8814-cae922476dd2","type":"FUNNEL","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"Funnel","comments":"","instanceIdentifier":"64bba566-019a-1000-bf0c-7ce9d37de92a"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef04c-0199-1000-b3c2-d23a834b7ddf","instanceIdentifier":"ded8d131-3043-318d-873d-89c370743fed","name":"","source":{"id":"4f6ef037-0199-1000-3a77-cb27fc945e04","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"ParseCogStackServiceResult","comments":"","instanceIdentifier":"7a00c8f1-408d-3f43-293b-1fee1c451654"},"destination":{"id":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"SplitJson","comments":"","instanceIdentifier":"dcd2d3ab-d6ec-3d18-ccc8-2c96b049b7e5"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"e5aa33e5-2d74-3311-9119-13ac3b46cdaa","instanceIdentifier":"64bb96c1-019a-1000-5298-db2f99471abb","name":"","source":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"64bac204-019a-1000-0de5-7317fa1baece"},"destination":{"id":"4f6ef03a-0199-1000-bf6b-34d8129e4932","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"PutElasticsearchJson","comments":"","instanceIdentifier":"bc394929-a745-3a6d-b88b-ba9292b7f54a"},"labelIndex":0,"zIndex":18,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef04f-0199-1000-bad6-ec3062cabd16","instanceIdentifier":"500e7104-aa4c-3ba3-c851-3a1fbf25e661","name":"","source":{"id":"4f6ef03b-0199-1000-ce55-a83a235f6052","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"InvokeHTTP","comments":"","instanceIdentifier":"7f451015-89a1-3dab-0a9f-6a6f9b33ec6b"},"destination":{"id":"4f6ef037-0199-1000-3a77-cb27fc945e04","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"ParseCogStackServiceResult","comments":"","instanceIdentifier":"7a00c8f1-408d-3f43-293b-1fee1c451654"},"labelIndex":0,"zIndex":5,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef046-0199-1000-dd75-b063e0d1543d","instanceIdentifier":"b7cbd425-06e9-352a-3c13-47a5c9949af9","name":"","source":{"id":"4f6ef037-0199-1000-3a77-cb27fc945e04","type":"PROCESSOR","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"ParseCogStackServiceResult","comments":"","instanceIdentifier":"7a00c8f1-408d-3f43-293b-1fee1c451654"},"destination":{"id":"4f6ef03d-0199-1000-f2d3-036a48f6cab5","type":"FUNNEL","groupId":"4f6ef035-0199-1000-2908-9b0d750bc18c","name":"Funnel","comments":"","instanceIdentifier":"b4e621de-d47c-3259-e197-74e0a7095bcd"},"labelIndex":0,"zIndex":12,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"}],"labels":[{"identifier":"4f6ef045-0199-1000-7730-eb9d736c9d6e","instanceIdentifier":"d676761e-61b1-3331-19be-15f6461be323","position":{"x":136.0,"y":-888.0},"label":"IMPORTANT: if you don't want for the processor to go on forever please set the 'Restart On Finish?' to 'false.\n\n","zIndex":1,"width":176.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"64d5a523-019a-1000-cc5b-0a7cdbb9ab09","instanceIdentifier":"fe821160-92f7-33f9-3135-5c5844df2221","position":{"x":-224.0,"y":-968.0},"label":"IMPORTANT: the query pulls only the id and the text fields (where the field is present).\n\n\n","zIndex":1,"width":352.0,"height":72.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef043-0199-1000-68ba-f8082b95bf3b","instanceIdentifier":"9b0edd57-8a63-3891-81de-fe2a812a5fa3","position":{"x":136.0,"y":-472.0},"label":"IMPORTANT: make sure the 'Request Body Enabled' is set to 'true', which means the file will get sent as a json rather than a binary.","zIndex":1,"width":176.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef044-0199-1000-7659-6d80322a5725","instanceIdentifier":"479cbbea-3933-3b6f-7e55-fa7d3531d245","position":{"x":136.0,"y":-688.0},"label":"IMPORTANT: make sure the url is correct, if you have medcat service on an other server, the default DEID instance port is 5556","zIndex":1,"width":176.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"e8de00c2-e3ac-3481-b7ca-f3e46d5066c4","instanceIdentifier":"64dd8ee7-019a-1000-1fea-00c963dd77a1","position":{"x":768.0,"y":56.0},"label":"Here we get the id of the annotation and put it as an attribute for use with ElasticSearch for unique record indexing.","zIndex":2,"width":376.0,"height":152.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"}],"funnels":[{"identifier":"4f6ef041-0199-1000-414e-f0d8b090d0fc","instanceIdentifier":"2e3fbd7b-19b7-36ed-5a15-675a54f93739","position":{"x":-552.0,"y":-432.0},"componentType":"FUNNEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"9235994b-7e87-3c4c-9367-3120d9ae1701","instanceIdentifier":"64bbe06a-019a-1000-1db4-6451cafadd67","position":{"x":560.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef03d-0199-1000-f2d3-036a48f6cab5","instanceIdentifier":"b4e621de-d47c-3259-e197-74e0a7095bcd","position":{"x":-552.0,"y":-216.0},"componentType":"FUNNEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef042-0199-1000-a1ff-821b7e239448","instanceIdentifier":"25106100-86d1-3c48-9790-eea9dc409a10","position":{"x":-552.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef03c-0199-1000-fada-c641cccb88e0","instanceIdentifier":"4f5dcd68-d034-310a-f613-9ea0f05b05b7","position":{"x":560.0,"y":-392.0},"componentType":"FUNNEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef03f-0199-1000-e999-88a80c4dc736","instanceIdentifier":"c560755b-7141-35a8-1563-458a06bcd081","position":{"x":-552.0,"y":-848.0},"componentType":"FUNNEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"bc6e34fd-b83a-38dd-8814-cae922476dd2","instanceIdentifier":"64bba566-019a-1000-bf0c-7ce9d37de92a","position":{"x":1104.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef040-0199-1000-58f9-341dd241015a","instanceIdentifier":"751b9f99-488f-3eb9-8f73-df4f56d4e911","position":{"x":-72.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"},{"identifier":"4f6ef03e-0199-1000-8d30-641327254f9a","instanceIdentifier":"e0a72e5c-2089-3b15-0516-5d3a1a541e49","position":{"x":-552.0,"y":-640.0},"componentType":"FUNNEL","groupIdentifier":"4f6ef035-0199-1000-2908-9b0d750bc18c"}],"controllerServices":[{"identifier":"06280792-dc54-3d7a-9d35-76ce834dcec3","instanceIdentifier":"6cf1af26-0198-1000-53a1-750027cad544","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.6.0"},"properties":{"el-cs-suppress-nulls":"always-suppress","el-cs-strict-deprecation":"false","el-cs-http-hosts":"https://elasticsearch-1:9200,https://elasticsearch-2:9200","el-cs-path-prefix":null,"el-cs-run-as-user":null,"proxy-configuration-service":null,"el-cs-charset":"UTF-8","api-key-id":null,"el-cs-send-meta-header":"true","el-cs-username":"admin","el-cs-enable-compression":"false","el-cs-sniff-cluster-nodes":"false","el-cs-sniffer-interval":"5 mins","el-cs-sniffer-failure-delay":"1 min","el-cs-node-selector":"ANY","authorization-scheme":"BASIC","el-cs-sniff-failure":"false","el-cs-sniffer-request-timeout":"1 sec","el-cs-connect-timeout":"5000","el-cs-socket-timeout":"60000","el-cs-ssl-context-service":"1d435682-6896-31ac-9c97-82b4a4462858","el-cs-oauth2-token-provider":null},"propertyDescriptors":{"el-cs-suppress-nulls":{"name":"el-cs-suppress-nulls","displayName":"Suppress Null/Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-strict-deprecation":{"name":"el-cs-strict-deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-http-hosts":{"name":"el-cs-http-hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-run-as-user":{"name":"el-cs-run-as-user","displayName":"Run As User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-charset":{"name":"el-cs-charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jwt-shared-secret":{"name":"jwt-shared-secret","displayName":"JWT Shared Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-send-meta-header":{"name":"el-cs-send-meta-header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-username":{"name":"el-cs-username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-enable-compression":{"name":"el-cs-enable-compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-cluster-nodes":{"name":"el-cs-sniff-cluster-nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key":{"name":"api-key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-node-selector":{"name":"el-cs-node-selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-failure":{"name":"el-cs-sniff-failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-request-timeout":{"name":"el-cs-sniffer-request-timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-ssl-context-service":{"name":"el-cs-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-oauth2-token-provider":{"name":"el-cs-oauth2-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-path-prefix":{"name":"el-cs-path-prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key-id":{"name":"api-key-id","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-interval":{"name":"el-cs-sniffer-interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-failure-delay":{"name":"el-cs-sniffer-failure-delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-password":{"name":"el-cs-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"authorization-scheme":{"name":"authorization-scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-connect-timeout":{"name":"el-cs-connect-timeout","displayName":"Connect timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-socket-timeout":{"name":"el-cs-socket-timeout","displayName":"Read timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2c99a7e3-98d1-37d9-2345-149e41abaa26"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}