nifi/user_templates/opensearch_ingest_parquet_form_fs_to_es.json
{"flowContents":{"identifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","instanceIdentifier":"7ea51449-019f-1000-6d81-2474fab2514c","name":"fs_parquet_to_opensearch","comments":"","position":{"x":784.0,"y":544.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"32af05bd-cdff-3963-a588-4e030c00a676","instanceIdentifier":"7fd0c9dd-019f-1000-238d-563e7724a7e4","name":"CogStackConvertParquetToJson","comments":"","position":{"x":-680.0,"y":-1832.0},"type":"CogStackConvertParquetToJson","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1"},"properties":{},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"c2626114-337b-37a2-afb5-01597b41a99b","instanceIdentifier":"6d585ec9-8975-383a-0c1f-bffe48838111","name":"PutElasticsearchRecord","comments":"","position":{"x":-680.0,"y":-2080.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.10.0"},"properties":{"Timestamp Value":null,"Max JSON Field String Length":"20 MB","Dynamic Templates Record Path":null,"Index Operation":"create","Index":"${filename:substringBefore('.parquet'):toLower()}","Record Reader":"f0308333-144e-394f-98ca-f444ee91a2a7","Date Format":null,"Retain Record Path ID Field":"false","Time Format":null,"Result Record Writer":"839d0da7-1f72-36da-aefb-c8123d21c751","Treat Not Found as Success":"true","Group Results by Bulk Error Type":"false","Scripted Upsert Record Path":null,"Index Operation Record Path":null,"Type Record Path":null,"ID Record Path":null,"Log Error Responses":"true","Script Record Path":null,"Output Error Responses":"true","Retain Record Timestamp":"false","Timestamp Format":null,"Type":null,"Batch Size":"10000","Client Service":"441a8cf7-4c90-3b4e-ab0b-8facbb51b4db","Index Record Path":null,"Timestamp Record Path":null},"propertyDescriptors":{"Timestamp Value":{"name":"Timestamp Value","displayName":"Timestamp Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Dynamic Templates Record Path":{"name":"Dynamic Templates Record Path","displayName":"Dynamic Templates Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Operation":{"name":"Index Operation","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index":{"name":"Index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retain Record Path ID Field":{"name":"Retain Record Path ID Field","displayName":"Retain Record Path ID Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Result Record Writer":{"name":"Result Record Writer","displayName":"Result Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat Not Found as Success":{"name":"Treat Not Found as Success","displayName":"Treat Not Found as Success","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Group Results by Bulk Error Type":{"name":"Group Results by Bulk Error Type","displayName":"Group Results by Bulk Error Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Scripted Upsert Record Path":{"name":"Scripted Upsert Record Path","displayName":"Scripted Upsert Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Operation Record Path":{"name":"Index Operation Record Path","displayName":"Index Operation Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Type Record Path":{"name":"Type Record Path","displayName":"Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ID Record Path":{"name":"ID Record Path","displayName":"ID Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Error Responses":{"name":"Log Error Responses","displayName":"Log Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Record Path":{"name":"Script Record Path","displayName":"Script Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Error Responses":{"name":"Output Error Responses","displayName":"Output Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retain Record Timestamp":{"name":"Retain Record Timestamp","displayName":"Retain Record Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Type":{"name":"Type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Index Record Path":{"name":"Index Record Path","displayName":"Index Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Record Path":{"name":"Timestamp Record Path","displayName":"Timestamp Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","successful"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"65cb7007-7648-3816-ad82-978280e1cd60","instanceIdentifier":"7ea5a38a-019f-1000-35fa-ed9e29cbdf68","name":"GetFile","comments":"","position":{"x":-680.0,"y":-1616.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"30 sec","Input Directory":"/data/","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*\\.parquet","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f3f9490e-4019-326b-abf9-82c8a950e45b","instanceIdentifier":"7fd12086-019f-1000-01a7-72b166489a4d","name":"","source":{"id":"32af05bd-cdff-3963-a588-4e030c00a676","type":"PROCESSOR","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"CogStackConvertParquetToJson","comments":"","instanceIdentifier":"7fd0c9dd-019f-1000-238d-563e7724a7e4"},"destination":{"id":"c2626114-337b-37a2-afb5-01597b41a99b","type":"PROCESSOR","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"6d585ec9-8975-383a-0c1f-bffe48838111"},"labelIndex":0,"zIndex":25,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"accfd5f4-6111-3d5d-baa1-71baf9ee5203","instanceIdentifier":"7fd42479-019f-1000-8458-2f0a76fd81ba","name":"","source":{"id":"65cb7007-7648-3816-ad82-978280e1cd60","type":"PROCESSOR","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"GetFile","comments":"","instanceIdentifier":"7ea5a38a-019f-1000-35fa-ed9e29cbdf68"},"destination":{"id":"32af05bd-cdff-3963-a588-4e030c00a676","type":"PROCESSOR","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"CogStackConvertParquetToJson","comments":"","instanceIdentifier":"7fd0c9dd-019f-1000-238d-563e7724a7e4"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"3916e55c-d569-32d0-bb8e-9d220fd5868b","instanceIdentifier":"b61e9080-0902-3d17-4308-26e51b636176","name":"","source":{"id":"c2626114-337b-37a2-afb5-01597b41a99b","type":"PROCESSOR","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"6d585ec9-8975-383a-0c1f-bffe48838111"},"destination":{"id":"1f850d26-6468-343d-a705-bd6e872dc9b4","type":"FUNNEL","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"Funnel","comments":"","instanceIdentifier":"5e27880b-5f65-3729-21b0-3a9b805e38c8"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure","retry","errors"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"2.5 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"72f6bca4-63f6-3622-8b8b-dd5458457c11","instanceIdentifier":"f94f7233-ca4b-3bed-0113-efa5452a4553","name":"","source":{"id":"c2626114-337b-37a2-afb5-01597b41a99b","type":"PROCESSOR","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"6d585ec9-8975-383a-0c1f-bffe48838111"},"destination":{"id":"ed73259d-0c68-3bbc-b291-471f4549ca23","type":"FUNNEL","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"Funnel","comments":"","instanceIdentifier":"d809bfaf-552b-3df7-b689-26acbada51d6"},"labelIndex":0,"zIndex":19,"selectedRelationships":["error_responses"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"f762e542-52c8-32e0-8719-fde84f5cc09c","instanceIdentifier":"7fd43665-019f-1000-69dd-87be05859541","name":"","source":{"id":"32af05bd-cdff-3963-a588-4e030c00a676","type":"PROCESSOR","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"CogStackConvertParquetToJson","comments":"","instanceIdentifier":"7fd0c9dd-019f-1000-238d-563e7724a7e4"},"destination":{"id":"d62beed4-d9a3-3117-b48d-60b2d3bfea74","type":"FUNNEL","groupId":"82b9729c-0b53-3465-953e-e98e7aeaa3b5","name":"Funnel","comments":"","instanceIdentifier":"3f8df3df-5517-3b31-be99-5020883735a4"},"labelIndex":0,"zIndex":27,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"}],"labels":[{"identifier":"161e6c6d-bac4-3370-9eab-67b5cd74ee36","instanceIdentifier":"b51938ae-9662-35cf-629c-b8824ba3a5b3","position":{"x":-680.0,"y":-2192.0},"label":"We grab the index name for the the specific record via the custom Expression language: ${azure.blobname:substringBefore('/'):toLower()}","zIndex":4,"width":352.0,"height":104.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"4576ff8b-55db-3bc1-ab24-199501e3433c","instanceIdentifier":"7eb11c0b-019f-1000-e806-4833f75a6623","position":{"x":-680.0,"y":-1480.0},"label":"the /data folder is inside the NiFi repository location,  <repo_location_folder>/data which is mounted as /data inside the NiFi container.... otherwise we will need to use GetSFTP","zIndex":5,"width":360.0,"height":88.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"fc49dc24-9d2f-3e32-b9f2-08d6bee2115d","instanceIdentifier":"2d303a06-145a-3573-c544-051ad1f51d2a","position":{"x":-312.0,"y":-1616.0},"label":"Only get .parquet files. Everything else, terminate.","zIndex":2,"width":312.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"}],"funnels":[{"identifier":"1f850d26-6468-343d-a705-bd6e872dc9b4","instanceIdentifier":"5e27880b-5f65-3729-21b0-3a9b805e38c8","position":{"x":-40.0,"y":-2032.0},"componentType":"FUNNEL","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"d62beed4-d9a3-3117-b48d-60b2d3bfea74","instanceIdentifier":"3f8df3df-5517-3b31-be99-5020883735a4","position":{"x":-56.0,"y":-1792.0},"componentType":"FUNNEL","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"ed73259d-0c68-3bbc-b291-471f4549ca23","instanceIdentifier":"d809bfaf-552b-3df7-b689-26acbada51d6","position":{"x":-1064.0,"y":-2040.0},"componentType":"FUNNEL","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"}],"controllerServices":[{"identifier":"f0308333-144e-394f-98ca-f444ee91a2a7","instanceIdentifier":"f909229c-159a-3314-d1d1-4092b781a5e5","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Parsing Strategy":"STANDARD"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Parsing Strategy":{"name":"Parsing Strategy","displayName":"Parsing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"8cd64ee2-438d-3f9c-9c86-f87c5937272c","instanceIdentifier":"7fce89d3-019f-1000-36ef-5e67d62aa499","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Schema Write Strategy":"avro-embedded","Encoder Pool Size":"32","Compression Format":"NONE","Schema Cache":null,"Schema Version":null,"Cache Size":"1000","Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encoder Pool Size":{"name":"Encoder Pool Size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"441a8cf7-4c90-3b4e-ab0b-8facbb51b4db","instanceIdentifier":"478500b2-a1fd-3d65-a069-ede716404605","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.10.0"},"properties":{"Sniffer Request Timeout":"1 sec","Connect Timeout":"5000","HTTP Hosts":"https://elasticsearch-1:9200","Path Prefix":null,"API Key ID":null,"Enable Compression":"false","Read Timeout":"60000","Sniff on Failure":"false","Sniffer Failure Delay":"1 min","OAuth2 Access Token Provider":null,"Suppress Null and Empty Values":"always-suppress","Node Selector":"ANY","Proxy Configuration Service":null,"Strict Deprecation":"false","Sniff Cluster Nodes":"false","SSL Context Service":"273c0798-af30-33d7-9cd7-9f1c316b4c8d","Send Meta Header":"true","Username":"admin","Authorization Scheme":"BASIC","Sniffer Interval":"5 mins","Run As User":null,"Character Set":"UTF-8"},"propertyDescriptors":{"Sniffer Request Timeout":{"name":"Sniffer Request Timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connect Timeout":{"name":"Connect Timeout","displayName":"Connect Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"API Key ID":{"name":"API Key ID","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Compression":{"name":"Enable Compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniff on Failure":{"name":"Sniff on Failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Node Selector":{"name":"Node Selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Strict Deprecation":{"name":"Strict Deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JWT Shared Secret":{"name":"JWT Shared Secret","displayName":"JWT Shared Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"API Key":{"name":"API Key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Send Meta Header":{"name":"Send Meta Header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization Scheme":{"name":"Authorization Scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Hosts":{"name":"HTTP Hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Prefix":{"name":"Path Prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniffer Failure Delay":{"name":"Sniffer Failure Delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null and Empty Values":{"name":"Suppress Null and Empty Values","displayName":"Suppress Null and Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniff Cluster Nodes":{"name":"Sniff Cluster Nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniffer Interval":{"name":"Sniffer Interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Run As User":{"name":"Run As User","displayName":"Run As User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"839d0da7-1f72-36da-aefb-c8123d21c751","instanceIdentifier":"0ec50bc3-3e6c-386a-e261-43f1d31b3f0b","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Serialized JSON Input Handling":"ENABLED","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Serialized JSON Input Handling":{"name":"Serialized JSON Input Handling","displayName":"Serialized JSON Input Handling","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"},{"identifier":"273c0798-af30-33d7-9cd7-9f1c316b4c8d","instanceIdentifier":"62aadb91-000b-3996-95c2-10cc5409ced2","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.10.0"},"properties":{"Truststore Type":"PKCS12","Keystore Type":"PKCS12","Truststore Filename":"/security/certificates/elastic/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-truststore.key","TLS Protocol":"TLS","Keystore Filename":"/security/certificates/elastic/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Password":{"name":"Key Password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"TLS Protocol":{"name":"TLS Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"82b9729c-0b53-3465-953e-e98e7aeaa3b5"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}