nifi/user_templates/opensearch_docs_ingest_annotations_to_es.json
{"flowContents":{"identifier":"21f8125b-30ce-3007-bafc-ebcdcca07862","instanceIdentifier":"904b09b3-019c-1000-f68c-2f27466076c0","name":"opensearch_docs_ingest_annotations_to_es","comments":"","position":{"x":-10241.480488135787,"y":-7696.069776498709},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4f6ef03a-0199-1000-bf6b-34d8129e4932","instanceIdentifier":"0b228a5e-38bd-3e66-9b10-0ec25d5140da","name":"PutElasticsearchJson","comments":"","position":{"x":-224.0,"y":-48.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.8.0"},"properties":{"Dynamic Templates":null,"Treat Not Found as Success":"true","Script":null,"Max JSON Field String Length":"20 MB","Index Operation":"index","Index":"encounters_annotations","Log Error Responses":"false","Output Error Responses":"false","Identifier Attribute":"annotation_id","Type":null,"Batch Size":"100","Scripted Upsert":"false","Client Service":"06280792-dc54-3d7a-9d35-76ce834dcec3","Character Set":"UTF-8"},"propertyDescriptors":{"Dynamic Templates":{"name":"Dynamic Templates","displayName":"Dynamic Templates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Treat Not Found as Success":{"name":"Treat Not Found as Success","displayName":"Treat Not Found as Success","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script":{"name":"Script","displayName":"Script","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Operation":{"name":"Index Operation","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index":{"name":"Index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Error Responses":{"name":"Log Error Responses","displayName":"Log Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Error Responses":{"name":"Output Error Responses","displayName":"Output Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Identifier Attribute":{"name":"Identifier Attribute","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Type":{"name":"Type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Scripted Upsert":{"name":"Scripted Upsert","displayName":"Scripted Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["successful"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"7824060e-49ad-3398-8b25-28be95944992","instanceIdentifier":"2c7847b3-d303-3f37-3895-49da1822fb30","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","position":{"x":408.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"annotation_id":"$.annotation_id","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"annotation_id":{"name":"annotation_id","displayName":"annotation_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","instanceIdentifier":"1273c3be-93f3-350c-97da-40d13ffecf33","name":"SplitJson","comments":"","position":{"x":408.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef038-0199-1000-a0ed-ac10e18267f9","instanceIdentifier":"83a4a037-bcbc-3cf8-0271-764d62ea49a4","name":"SearchElasticsearch","comments":"","position":{"x":-224.0,"y":-888.0},"type":"org.apache.nifi.processors.elasticsearch.SearchElasticsearch","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.8.0"},"properties":{"Aggregation Results Format":"BUCKETS_ONLY","Script Fields":null,"Pagination Keep Alive":"10 mins","Query":"{ \"_source\": [\"id\", \"text\"],\n  \"query\": {\n    \"bool\": {\n      \"must\": [\n        { \"exists\": { \"field\": \"text\" } }\n      ]\n    }\n  }\n}","Max JSON Field String Length":"20 MB","Size":null,"Aggregations":null,"Query Definition Style":"full","Restart On Finish":"false","Index":"encounters","Search Results Split":"splitUp-no","Search Results Format":"SOURCE_ONLY","Output No Hits":"false","Type":null,"Fields":null,"Query Attribute":null,"Aggregation Results Split":"splitUp-no","Sort":null,"Pagination Type":"pagination-scroll","Client Service":"06280792-dc54-3d7a-9d35-76ce834dcec3","Query Clause":null},"propertyDescriptors":{"Aggregation Results Format":{"name":"Aggregation Results Format","displayName":"Aggregation Results Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Fields":{"name":"Script Fields","displayName":"Script Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pagination Keep Alive":{"name":"Pagination Keep Alive","displayName":"Pagination Keep Alive","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Size":{"name":"Size","displayName":"Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Aggregations":{"name":"Aggregations","displayName":"Aggregations","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query Definition Style":{"name":"Query Definition Style","displayName":"Query Definition Style","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Restart On Finish":{"name":"Restart On Finish","displayName":"Restart On Finish","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index":{"name":"Index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Results Split":{"name":"Search Results Split","displayName":"Search Results Split","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Results Format":{"name":"Search Results Format","displayName":"Search Results Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output No Hits":{"name":"Output No Hits","displayName":"Output No Hits","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Type":{"name":"Type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fields":{"name":"Fields","displayName":"Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query Attribute":{"name":"Query Attribute","displayName":"Query Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Aggregation Results Split":{"name":"Aggregation Results Split","displayName":"Aggregation Results Split","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sort":{"name":"Sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pagination Type":{"name":"Pagination Type","displayName":"Pagination Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Query Clause":{"name":"Query Clause","displayName":"Query Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"9a04aaf8-ba0c-3f10-8e2b-67e01d1cc56e","instanceIdentifier":"90651956-019c-1000-e6ac-3d6c738d97c5","name":"CogStackParseCogStackServiceResult","comments":"","position":{"x":-224.0,"y":-264.0},"type":"CogStackParseCogStackServiceResult","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1"},"properties":{"document_text_field_name":"text","medcat_output_mode":"not_set","service_message_type":"not_set","output_text_field_name":"text","document_id_field_name":"_id","medcat_deid_keep_annotations":"true"},"propertyDescriptors":{"document_text_field_name":{"name":"document_text_field_name","displayName":"document_text_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"medcat_output_mode":{"name":"medcat_output_mode","displayName":"medcat_output_mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service_message_type":{"name":"service_message_type","displayName":"service_message_type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output_text_field_name":{"name":"output_text_field_name","displayName":"output_text_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"document_id_field_name":{"name":"document_id_field_name","displayName":"document_id_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"medcat_deid_keep_annotations":{"name":"medcat_deid_keep_annotations","displayName":"medcat_deid_keep_annotations","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef03b-0199-1000-ce55-a83a235f6052","instanceIdentifier":"8deaa617-d143-3fda-54d1-79df051d6320","name":"InvokeHTTP","comments":"","position":{"x":-224.0,"y":-472.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"True","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://cogstack-medcat-service-production:5000/api/process_bulk","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"d61f3f3a-1348-3932-9008-c964a78ad351","instanceIdentifier":"90647f35-019c-1000-65c5-7d3ee59eb686","name":"CogStackPrepareRecordForNlp","comments":"","position":{"x":-224.0,"y":-688.0},"type":"CogStackPrepareRecordForNlp","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1"},"properties":{"document_text_field_name":"text","process_flow_file_type":"json","document_id_field_name":"id"},"propertyDescriptors":{"document_text_field_name":{"name":"document_text_field_name","displayName":"document_text_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"process_flow_file_type":{"name":"process_flow_file_type","displayName":"process_flow_file_type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"document_id_field_name":{"name":"document_id_field_name","displayName":"document_id_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"bd381b2b-24b7-37d9-9002-df9338b59451","instanceIdentifier":"90655644-019c-1000-0db3-2b99ee49958a","name":"","source":{"id":"9a04aaf8-ba0c-3f10-8e2b-67e01d1cc56e","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"CogStackParseCogStackServiceResult","comments":"","instanceIdentifier":"90651956-019c-1000-e6ac-3d6c738d97c5"},"destination":{"id":"4f6ef03d-0199-1000-f2d3-036a48f6cab5","type":"FUNNEL","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"Funnel","comments":"","instanceIdentifier":"841ec784-9a9f-30e3-bb2e-9fd56cec821c"},"labelIndex":0,"zIndex":23,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef048-0199-1000-e3e1-ed0581d1e39b","instanceIdentifier":"36cbb67f-a696-3479-982e-1dd17ab38a82","name":"","source":{"id":"4f6ef038-0199-1000-a0ed-ac10e18267f9","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"SearchElasticsearch","comments":"","instanceIdentifier":"83a4a037-bcbc-3cf8-0271-764d62ea49a4"},"destination":{"id":"d61f3f3a-1348-3932-9008-c964a78ad351","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"CogStackPrepareRecordForNlp","comments":"","instanceIdentifier":"90647f35-019c-1000-65c5-7d3ee59eb686"},"labelIndex":0,"zIndex":1,"selectedRelationships":["hits","aggregations"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef051-0199-1000-540c-72aa95c7f5aa","instanceIdentifier":"5a679a69-9ef8-34d9-0184-3ed8d4613669","name":"","source":{"id":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"SplitJson","comments":"","instanceIdentifier":"1273c3be-93f3-350c-97da-40d13ffecf33"},"destination":{"id":"4f6ef03c-0199-1000-fada-c641cccb88e0","type":"FUNNEL","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"Funnel","comments":"","instanceIdentifier":"0b2528b6-2940-3b9a-592d-55e65dcc3653"},"labelIndex":0,"zIndex":16,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef04a-0199-1000-fa89-a31050551c4c","instanceIdentifier":"17acca0c-05cb-3ec6-b3ef-f9122579ea53","name":"","source":{"id":"4f6ef03b-0199-1000-ce55-a83a235f6052","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"InvokeHTTP","comments":"","instanceIdentifier":"8deaa617-d143-3fda-54d1-79df051d6320"},"destination":{"id":"4f6ef041-0199-1000-414e-f0d8b090d0fc","type":"FUNNEL","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"Funnel","comments":"","instanceIdentifier":"8f7c26dc-b887-3c6e-d974-8cc76a7c8f21"},"labelIndex":0,"zIndex":6,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"d25b7cf5-d43f-3bed-b1dc-c57fa67c3085","instanceIdentifier":"2a5ba5cc-afd1-377f-a7f9-8b1bf1d12fed","name":"","source":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"2c7847b3-d303-3f37-3895-49da1822fb30"},"destination":{"id":"9235994b-7e87-3c4c-9367-3120d9ae1701","type":"FUNNEL","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"Funnel","comments":"","instanceIdentifier":"0290d94b-89a6-3916-3717-4f9221a1cf2d"},"labelIndex":0,"zIndex":20,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef050-0199-1000-ed55-315999e71dd3","instanceIdentifier":"50e39c56-4d73-34ae-42e4-e1f447715949","name":"","source":{"id":"4f6ef03a-0199-1000-bf6b-34d8129e4932","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"PutElasticsearchJson","comments":"","instanceIdentifier":"0b228a5e-38bd-3e66-9b10-0ec25d5140da"},"destination":{"id":"4f6ef040-0199-1000-58f9-341dd241015a","type":"FUNNEL","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"Funnel","comments":"","instanceIdentifier":"3bbdcf9d-e912-3e66-c58a-2e53d32656b2"},"labelIndex":0,"zIndex":14,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef04b-0199-1000-8171-7f5508365aa5","instanceIdentifier":"f262699a-183a-372b-dbdb-fa4469f84f16","name":"","source":{"id":"4f6ef038-0199-1000-a0ed-ac10e18267f9","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"SearchElasticsearch","comments":"","instanceIdentifier":"83a4a037-bcbc-3cf8-0271-764d62ea49a4"},"destination":{"id":"4f6ef03f-0199-1000-e999-88a80c4dc736","type":"FUNNEL","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"Funnel","comments":"","instanceIdentifier":"79d3323b-adbd-3dc6-2fea-de4a3ae5c7b3"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"8a9e2922-9d5b-3355-b6ed-39ca212503df","instanceIdentifier":"9064af1a-019c-1000-af89-c50f9a582392","name":"","source":{"id":"d61f3f3a-1348-3932-9008-c964a78ad351","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"CogStackPrepareRecordForNlp","comments":"","instanceIdentifier":"90647f35-019c-1000-65c5-7d3ee59eb686"},"destination":{"id":"4f6ef03e-0199-1000-8d30-641327254f9a","type":"FUNNEL","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"Funnel","comments":"","instanceIdentifier":"9380cab0-180b-38b0-a177-00fba12bf442"},"labelIndex":0,"zIndex":21,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef04e-0199-1000-cf82-d9da33757a0d","instanceIdentifier":"fd341343-65f0-3fdf-4026-b02d480ca88b","name":"","source":{"id":"4f6ef03a-0199-1000-bf6b-34d8129e4932","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"PutElasticsearchJson","comments":"","instanceIdentifier":"0b228a5e-38bd-3e66-9b10-0ec25d5140da"},"destination":{"id":"4f6ef042-0199-1000-a1ff-821b7e239448","type":"FUNNEL","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"Funnel","comments":"","instanceIdentifier":"82b8db07-1a93-34fc-94ce-f214f6c4a67a"},"labelIndex":0,"zIndex":13,"selectedRelationships":["failure","retry","errors"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"15b0139a-cd12-333c-9ceb-0b05b63d3de6","instanceIdentifier":"97ad8f61-7735-3b95-1846-ffa43912ae51","name":"","source":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"2c7847b3-d303-3f37-3895-49da1822fb30"},"destination":{"id":"bc6e34fd-b83a-38dd-8814-cae922476dd2","type":"FUNNEL","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"Funnel","comments":"","instanceIdentifier":"15276455-86c9-3986-9850-cc2e7719ec23"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"b6837b1f-cbb7-309a-96da-2cc9d1917c4f","instanceIdentifier":"90656d2b-019c-1000-1940-5ceea00a4655","name":"","source":{"id":"9a04aaf8-ba0c-3f10-8e2b-67e01d1cc56e","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"CogStackParseCogStackServiceResult","comments":"","instanceIdentifier":"90651956-019c-1000-e6ac-3d6c738d97c5"},"destination":{"id":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"SplitJson","comments":"","instanceIdentifier":"1273c3be-93f3-350c-97da-40d13ffecf33"},"labelIndex":0,"zIndex":24,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef04d-0199-1000-69b3-4d8ec67ea6f2","instanceIdentifier":"b2bfb5a2-d9e3-3e43-a6de-233f5d0cea71","name":"","source":{"id":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"SplitJson","comments":"","instanceIdentifier":"1273c3be-93f3-350c-97da-40d13ffecf33"},"destination":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"2c7847b3-d303-3f37-3895-49da1822fb30"},"labelIndex":0,"zIndex":17,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"e5aa33e5-2d74-3311-9119-13ac3b46cdaa","instanceIdentifier":"e6ba662e-5ea7-3cd1-db3a-91549d1321df","name":"","source":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"2c7847b3-d303-3f37-3895-49da1822fb30"},"destination":{"id":"4f6ef03a-0199-1000-bf6b-34d8129e4932","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"PutElasticsearchJson","comments":"","instanceIdentifier":"0b228a5e-38bd-3e66-9b10-0ec25d5140da"},"labelIndex":0,"zIndex":18,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef04f-0199-1000-bad6-ec3062cabd16","instanceIdentifier":"066b875d-4589-3f37-87e3-0af0c4f146bc","name":"","source":{"id":"4f6ef03b-0199-1000-ce55-a83a235f6052","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"InvokeHTTP","comments":"","instanceIdentifier":"8deaa617-d143-3fda-54d1-79df051d6320"},"destination":{"id":"9a04aaf8-ba0c-3f10-8e2b-67e01d1cc56e","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"CogStackParseCogStackServiceResult","comments":"","instanceIdentifier":"90651956-019c-1000-e6ac-3d6c738d97c5"},"labelIndex":0,"zIndex":5,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"a0e20522-56da-37d8-90ef-67a8bf5198d1","instanceIdentifier":"9064c832-019c-1000-7ca8-1832bf02584b","name":"","source":{"id":"d61f3f3a-1348-3932-9008-c964a78ad351","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"CogStackPrepareRecordForNlp","comments":"","instanceIdentifier":"90647f35-019c-1000-65c5-7d3ee59eb686"},"destination":{"id":"4f6ef03b-0199-1000-ce55-a83a235f6052","type":"PROCESSOR","groupId":"21f8125b-30ce-3007-bafc-ebcdcca07862","name":"InvokeHTTP","comments":"","instanceIdentifier":"8deaa617-d143-3fda-54d1-79df051d6320"},"labelIndex":0,"zIndex":22,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"}],"labels":[{"identifier":"4f6ef045-0199-1000-7730-eb9d736c9d6e","instanceIdentifier":"469bc579-09e8-3394-265a-b75de4056968","position":{"x":136.0,"y":-888.0},"label":"IMPORTANT: if you don't want for the processor to go on forever please set the 'Restart On Finish?' to 'false.\n\n","zIndex":1,"width":176.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"64d5a523-019a-1000-cc5b-0a7cdbb9ab09","instanceIdentifier":"a018e11c-eb38-3cdb-fe07-8a0690c0a7d5","position":{"x":-224.0,"y":-968.0},"label":"IMPORTANT: the query pulls only the id and the text fields (where the field is present).\n\n\n","zIndex":1,"width":352.0,"height":72.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef043-0199-1000-68ba-f8082b95bf3b","instanceIdentifier":"b70a5dcb-8574-3973-a5fa-dd58382ced1e","position":{"x":136.0,"y":-472.0},"label":"IMPORTANT: make sure the 'Request Body Enabled' is set to 'true', which means the file will get sent as a json rather than a binary.","zIndex":1,"width":176.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef044-0199-1000-7659-6d80322a5725","instanceIdentifier":"b09331b4-dd6d-3fda-075f-0dd461608f6d","position":{"x":136.0,"y":-688.0},"label":"IMPORTANT: make sure the url is correct, if you have medcat service on an other server, the default DEID instance port is 5556","zIndex":1,"width":176.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"e8de00c2-e3ac-3481-b7ca-f3e46d5066c4","instanceIdentifier":"71d6ed5b-c197-3dbd-661c-8664d60ad86b","position":{"x":768.0,"y":56.0},"label":"Here we get the id of the annotation and put it as an attribute for use with ElasticSearch for unique record indexing.","zIndex":2,"width":376.0,"height":152.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"}],"funnels":[{"identifier":"4f6ef041-0199-1000-414e-f0d8b090d0fc","instanceIdentifier":"8f7c26dc-b887-3c6e-d974-8cc76a7c8f21","position":{"x":-552.0,"y":-432.0},"componentType":"FUNNEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"9235994b-7e87-3c4c-9367-3120d9ae1701","instanceIdentifier":"0290d94b-89a6-3916-3717-4f9221a1cf2d","position":{"x":560.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef03d-0199-1000-f2d3-036a48f6cab5","instanceIdentifier":"841ec784-9a9f-30e3-bb2e-9fd56cec821c","position":{"x":-552.0,"y":-224.0},"componentType":"FUNNEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef042-0199-1000-a1ff-821b7e239448","instanceIdentifier":"82b8db07-1a93-34fc-94ce-f214f6c4a67a","position":{"x":-552.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef03c-0199-1000-fada-c641cccb88e0","instanceIdentifier":"0b2528b6-2940-3b9a-592d-55e65dcc3653","position":{"x":560.0,"y":-392.0},"componentType":"FUNNEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef03f-0199-1000-e999-88a80c4dc736","instanceIdentifier":"79d3323b-adbd-3dc6-2fea-de4a3ae5c7b3","position":{"x":-552.0,"y":-848.0},"componentType":"FUNNEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"bc6e34fd-b83a-38dd-8814-cae922476dd2","instanceIdentifier":"15276455-86c9-3986-9850-cc2e7719ec23","position":{"x":1104.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef040-0199-1000-58f9-341dd241015a","instanceIdentifier":"3bbdcf9d-e912-3e66-c58a-2e53d32656b2","position":{"x":-72.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"4f6ef03e-0199-1000-8d30-641327254f9a","instanceIdentifier":"9380cab0-180b-38b0-a177-00fba12bf442","position":{"x":-552.0,"y":-648.0},"componentType":"FUNNEL","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"}],"controllerServices":[{"identifier":"c3333d2e-a62b-3030-b488-ced579946f0c","instanceIdentifier":"904b447b-019c-1000-6234-6dc5aed19b81","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.8.0"},"properties":{"Truststore Type":"JKS","Keystore Type":"JKS","Truststore Filename":"/security/certificates/elastic/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-truststore.key","TLS Protocol":"TLS","Keystore Filename":"/security/certificates/elastic/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Password":{"name":"Key Password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"TLS Protocol":{"name":"TLS Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"},{"identifier":"06280792-dc54-3d7a-9d35-76ce834dcec3","instanceIdentifier":"efb95867-4173-3069-9a55-65c5799e6985","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.8.0"},"properties":{"Sniffer Request Timeout":"1 sec","Connect Timeout":"5000","HTTP Hosts":"https://elasticsearch-1:9200,https://elasticsearch-2:9200","Path Prefix":null,"API Key ID":null,"Enable Compression":"false","Read Timeout":"60000","Sniff on Failure":"false","Sniffer Failure Delay":"1 min","OAuth2 Access Token Provider":null,"Suppress Null and Empty Values":"always-suppress","Node Selector":"ANY","Proxy Configuration Service":null,"Strict Deprecation":"false","Sniff Cluster Nodes":"false","SSL Context Service":"c3333d2e-a62b-3030-b488-ced579946f0c","Send Meta Header":"true","Username":"admin","Authorization Scheme":"BASIC","Sniffer Interval":"5 mins","Run As User":null,"Character Set":"UTF-8"},"propertyDescriptors":{"Sniffer Request Timeout":{"name":"Sniffer Request Timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connect Timeout":{"name":"Connect Timeout","displayName":"Connect Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"API Key ID":{"name":"API Key ID","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Compression":{"name":"Enable Compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniff on Failure":{"name":"Sniff on Failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Node Selector":{"name":"Node Selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Strict Deprecation":{"name":"Strict Deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JWT Shared Secret":{"name":"JWT Shared Secret","displayName":"JWT Shared Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"API Key":{"name":"API Key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Send Meta Header":{"name":"Send Meta Header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization Scheme":{"name":"Authorization Scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Hosts":{"name":"HTTP Hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Prefix":{"name":"Path Prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniffer Failure Delay":{"name":"Sniffer Failure Delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null and Empty Values":{"name":"Suppress Null and Empty Values","displayName":"Suppress Null and Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniff Cluster Nodes":{"name":"Sniff Cluster Nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniffer Interval":{"name":"Sniffer Interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Run As User":{"name":"Run As User","displayName":"Run As User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21f8125b-30ce-3007-bafc-ebcdcca07862"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}