nifi/user_templates/opensearch_ingest_docs_db_to_es.json
{"flowContents":{"identifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","instanceIdentifier":"518c3173-0197-1000-cb1a-56821199e67d","name":"opensearch_ingest_docs_db_to_es","comments":"","position":{"x":-888.0,"y":-720.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9496f814-758e-3ff4-be63-09cfd4e2a7b5","instanceIdentifier":"5189e2cd-0197-1000-e988-61221243ea2d","name":"ExecuteSQLRecord","comments":"","position":{"x":-608.0,"y":-496.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"4ad0bf71-a5de-39f7-9f74-07213d115a9f","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":null,"Database Connection Pooling Service":"ae4d900f-d06e-3cc3-acc5-4f6f222a5064","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"9c434759-d273-371e-a0dc-6e1f770d6a98","instanceIdentifier":"5189aea2-0197-1000-acc7-eff5bdf829f6","name":"GenerateTableFetch-medical_reports_text","comments":"","position":{"x":-608.0,"y":-688.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"medical_reports_text","db-fetch-db-type":"PostgreSQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"ae4d900f-d06e-3cc3-acc5-4f6f222a5064","gen-table-fetch-partition-size":"10000","Columns to Return":"sampleid,typeid,dct,filename,\"document\",CAST(docid AS VARCHAR(255)) AS docid","Maximum-value Columns":"docid","db-fetch-where-clause":null,"Database Dialect Service":null,"gen-table-column-for-val-partitioning":"docid"},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"ae73dcb2-f24b-3e7a-911d-a7b3c7e0678e","instanceIdentifier":"518aa9a0-0197-1000-9e18-02048873a3c3","name":"PutElasticsearchRecord","comments":"","position":{"x":-608.0,"y":-288.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.4.0"},"properties":{"Max JSON Field String Length":"64 MB","put-es-record-at-timestamp-time-format":null,"put-es-record-batch-size":"10000","put-es-record-scripted-upsert-path":null,"put-es-record-index-op":"index","put-es-record-type-record-path":null,"put-es-record-at-timestamp-date-format":null,"put-es-output-error-responses":"false","put-es-record-dynamic-templates-path":null,"el-rest-client-service":"06280792-dc54-3d7a-9d35-76ce834dcec3","put-es-record-log-error-responses":"false","put-es-not_found-is-error":"true","put-es-record-error-writer":"bb71c362-4fc9-314e-96ed-50c123266093","put-es-record-at-timestamp-timestamp-format":null,"put-es-record-id-path":"/docid","put-es-record-retain-at-timestamp-field":"false","el-rest-fetch-index":"${generatetablefetch.tableName}","put-es-record-index-op-path":null,"put-es-record-retain-id-field":"false","put-es-record-script-path":null,"el-rest-type":null,"put-es-record-at-timestamp":null,"put-es-record-index-record-path":null,"put-es-record-at-timestamp-path":null,"put-es-record-reader":"384cff7c-0232-3e2c-bc72-37e5bdc266bc","put-es-record-bulk-error-groups":"false"},"propertyDescriptors":{"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-time-format":{"name":"put-es-record-at-timestamp-time-format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-batch-size":{"name":"put-es-record-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-scripted-upsert-path":{"name":"put-es-record-scripted-upsert-path","displayName":"Scripted Upsert Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-op":{"name":"put-es-record-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-type-record-path":{"name":"put-es-record-type-record-path","displayName":"Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-date-format":{"name":"put-es-record-at-timestamp-date-format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-output-error-responses":{"name":"put-es-output-error-responses","displayName":"Output Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-dynamic-templates-path":{"name":"put-es-record-dynamic-templates-path","displayName":"Dynamic Templates Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-client-service":{"name":"el-rest-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-log-error-responses":{"name":"put-es-record-log-error-responses","displayName":"Log Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-not_found-is-error":{"name":"put-es-not_found-is-error","displayName":"Treat \"Not Found\" as Success","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-error-writer":{"name":"put-es-record-error-writer","displayName":"Result Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-timestamp-format":{"name":"put-es-record-at-timestamp-timestamp-format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-id-path":{"name":"put-es-record-id-path","displayName":"ID Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-retain-at-timestamp-field":{"name":"put-es-record-retain-at-timestamp-field","displayName":"Retain @timestamp (Record Path)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-fetch-index":{"name":"el-rest-fetch-index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-op-path":{"name":"put-es-record-index-op-path","displayName":"Index Operation Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-retain-id-field":{"name":"put-es-record-retain-id-field","displayName":"Retain ID (Record Path)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-script-path":{"name":"put-es-record-script-path","displayName":"Script Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-type":{"name":"el-rest-type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp":{"name":"put-es-record-at-timestamp","displayName":"@timestamp Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-record-path":{"name":"put-es-record-index-record-path","displayName":"Index Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-path":{"name":"put-es-record-at-timestamp-path","displayName":"@timestamp Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-reader":{"name":"put-es-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-bulk-error-groups":{"name":"put-es-record-bulk-error-groups","displayName":"Group Results by Bulk Error Type","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","successful"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"992d8825-b10c-3844-9ba5-5076f20673b7","instanceIdentifier":"5189f6bc-0197-1000-bf66-251b4a3b33f6","name":"","source":{"id":"9c434759-d273-371e-a0dc-6e1f770d6a98","type":"PROCESSOR","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"GenerateTableFetch-medical_reports_text","comments":"","instanceIdentifier":"5189aea2-0197-1000-acc7-eff5bdf829f6"},"destination":{"id":"9496f814-758e-3ff4-be63-09cfd4e2a7b5","type":"PROCESSOR","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"5189e2cd-0197-1000-e988-61221243ea2d"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"4daeaa34-b854-324a-b970-4878b7095d0f","instanceIdentifier":"518a6e23-0197-1000-3d7c-27ca8a4373f2","name":"","source":{"id":"9496f814-758e-3ff4-be63-09cfd4e2a7b5","type":"PROCESSOR","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"5189e2cd-0197-1000-e988-61221243ea2d"},"destination":{"id":"518a227f-0197-1000-c916-878366970718","type":"FUNNEL","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"Funnel","comments":"","instanceIdentifier":"687a5156-0d1c-3d33-8c7e-91bf8e13b651"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"bf5a6660-9dd9-3efc-bdb3-fab678070664","instanceIdentifier":"518ac504-0197-1000-aabd-58cd7bdd5f4a","name":"","source":{"id":"9496f814-758e-3ff4-be63-09cfd4e2a7b5","type":"PROCESSOR","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"5189e2cd-0197-1000-e988-61221243ea2d"},"destination":{"id":"ae73dcb2-f24b-3e7a-911d-a7b3c7e0678e","type":"PROCESSOR","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"518aa9a0-0197-1000-9e18-02048873a3c3"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"d697dfd0-3e44-385a-a55c-5b52403c9903","instanceIdentifier":"518b3366-0197-1000-dba2-f6c684037856","name":"","source":{"id":"ae73dcb2-f24b-3e7a-911d-a7b3c7e0678e","type":"PROCESSOR","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"518aa9a0-0197-1000-9e18-02048873a3c3"},"destination":{"id":"518b162d-0197-1000-931b-72a60e7fcb87","type":"FUNNEL","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"Funnel","comments":"","instanceIdentifier":"bd1044a0-6092-31d2-a689-4aa0a6708d69"},"labelIndex":0,"zIndex":6,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"f24c9db6-764c-3075-a921-8f5a3b5a1d29","instanceIdentifier":"518b0281-0197-1000-0f39-2b5a4a2942f8","name":"","source":{"id":"ae73dcb2-f24b-3e7a-911d-a7b3c7e0678e","type":"PROCESSOR","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"518aa9a0-0197-1000-9e18-02048873a3c3"},"destination":{"id":"518aca05-0197-1000-00c9-e6e151102f62","type":"FUNNEL","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"Funnel","comments":"","instanceIdentifier":"b4767a5c-1467-3b61-220b-8e59bf4f63f4"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure","errors"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"ba753c99-d884-3eef-8618-8fd11a022a32","instanceIdentifier":"518a3912-0197-1000-69f6-b84fc080f07a","name":"","source":{"id":"9c434759-d273-371e-a0dc-6e1f770d6a98","type":"PROCESSOR","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"GenerateTableFetch-medical_reports_text","comments":"","instanceIdentifier":"5189aea2-0197-1000-acc7-eff5bdf829f6"},"destination":{"id":"a8b3cffd-32c7-33c3-bf00-f4b2782a70d0","type":"FUNNEL","groupId":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3","name":"Funnel","comments":"","instanceIdentifier":"518a1150-0197-1000-b016-7e2a60a4f854"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"}],"labels":[{"identifier":"75fc465e-0198-1000-3b14-99f546b0a46c","instanceIdentifier":"96757e6e-3b14-3abe-ad0e-ba0cc8f982bd","position":{"x":-248.0,"y":-496.0},"label":"Depending on the workflow you might need to change the ' Use Avro Logical Types' to false (careful as this can mess up json processing/parsing, usually we set it to false, the most troublesome fields are datetimes/timestamps.","zIndex":2,"width":256.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"75fd9c6f-0198-1000-b4f4-773365180dc6","instanceIdentifier":"459d6aac-a349-331d-3aa3-d5751a0ef129","position":{"x":-248.0,"y":-288.0},"label":"The 'Index' is the index name, takes the value of the ${generatetablefetch.tableName} which is a FlowFile property (not in the flowfile contents, but the property of such file).\n\nIMPORTANT:\n ID Record Path - this should be the name of the unique UUID of each of your records, defined as '/property_name' make note of the '/'. If you don't set this you might end up with duplicates as Elastic/Open(search) will generate its own uuids, obviously it wont care.  An alternative is to generate a hash from the contents of the FlowFile and use it as an UUID.\n","zIndex":2,"width":624.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"5f0d9248-c0d1-3a12-9a11-f83682994ea6","instanceIdentifier":"75fba799-0198-1000-ffe8-6a22c39aeba4","position":{"x":-248.0,"y":-688.0},"label":"Please note the max-value column, it should be an integer and a primary key, for fast record retrieval.","zIndex":2,"width":256.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"df3a9fcc-95e1-38f8-a5de-d437067631ff","instanceIdentifier":"75fb309a-0198-1000-320c-309ed7e4edb5","position":{"x":-584.0,"y":-752.0},"label":"Simple ingestion from PgSQL to ElasticSearch","zIndex":1,"width":296.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"}],"funnels":[{"identifier":"a8b3cffd-32c7-33c3-bf00-f4b2782a70d0","instanceIdentifier":"518a1150-0197-1000-b016-7e2a60a4f854","position":{"x":-912.0,"y":-640.0},"componentType":"FUNNEL","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"518aca05-0197-1000-00c9-e6e151102f62","instanceIdentifier":"b4767a5c-1467-3b61-220b-8e59bf4f63f4","position":{"x":-912.0,"y":-248.0},"componentType":"FUNNEL","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"518a227f-0197-1000-c916-878366970718","instanceIdentifier":"687a5156-0d1c-3d33-8c7e-91bf8e13b651","position":{"x":-913.0,"y":-446.0},"componentType":"FUNNEL","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"},{"identifier":"518b162d-0197-1000-931b-72a60e7fcb87","instanceIdentifier":"bd1044a0-6092-31d2-a689-4aa0a6708d69","position":{"x":-912.0,"y":-120.0},"componentType":"FUNNEL","groupIdentifier":"c563b8ea-cf51-3f8b-9fe6-1d11b7566bb3"}],"controllerServices":[{"identifier":"384cff7c-0232-3e2c-bc72-37e5bdc266bc","instanceIdentifier":"6cef7a80-0198-1000-ea01-ea3c659e4d5a","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"518c3173-0197-1000-cb1a-56821199e67d"},{"identifier":"bb71c362-4fc9-314e-96ed-50c123266093","instanceIdentifier":"6cf00cb4-0198-1000-4c72-a3ffbe720419","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"518c3173-0197-1000-cb1a-56821199e67d"},{"identifier":"ae4d900f-d06e-3cc3-acc5-4f6f222a5064","instanceIdentifier":"6bbb4ba2-0198-1000-55ba-fe6cdab9543f","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://samples-db:5432/db_samples","dbcp-time-between-eviction-runs":"-1","Database User":"test","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/drivers/postgresql-42.7.7.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"518c3173-0197-1000-cb1a-56821199e67d"},{"identifier":"06280792-dc54-3d7a-9d35-76ce834dcec3","instanceIdentifier":"6cf1af26-0198-1000-53a1-750027cad544","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.4.0"},"properties":{"el-cs-suppress-nulls":"always-suppress","el-cs-strict-deprecation":"false","el-cs-http-hosts":"https://elasticsearch-1:9200,https://elasticsearch-2:9200","el-cs-path-prefix":null,"el-cs-run-as-user":null,"proxy-configuration-service":null,"el-cs-charset":"UTF-8","api-key-id":null,"el-cs-send-meta-header":"true","el-cs-username":"admin","el-cs-enable-compression":"false","el-cs-sniff-cluster-nodes":"false","el-cs-sniffer-interval":"5 mins","el-cs-sniffer-failure-delay":"1 min","el-cs-node-selector":"ANY","authorization-scheme":"BASIC","el-cs-sniff-failure":"false","el-cs-sniffer-request-timeout":"1 sec","el-cs-connect-timeout":"5000","el-cs-socket-timeout":"60000","el-cs-ssl-context-service":"1d435682-6896-31ac-9c97-82b4a4462858","el-cs-oauth2-token-provider":null},"propertyDescriptors":{"el-cs-suppress-nulls":{"name":"el-cs-suppress-nulls","displayName":"Suppress Null/Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-strict-deprecation":{"name":"el-cs-strict-deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-http-hosts":{"name":"el-cs-http-hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-run-as-user":{"name":"el-cs-run-as-user","displayName":"Run As User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-charset":{"name":"el-cs-charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jwt-shared-secret":{"name":"jwt-shared-secret","displayName":"JWT Shared Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-send-meta-header":{"name":"el-cs-send-meta-header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-username":{"name":"el-cs-username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-enable-compression":{"name":"el-cs-enable-compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-cluster-nodes":{"name":"el-cs-sniff-cluster-nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key":{"name":"api-key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-node-selector":{"name":"el-cs-node-selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-failure":{"name":"el-cs-sniff-failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-request-timeout":{"name":"el-cs-sniffer-request-timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-ssl-context-service":{"name":"el-cs-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-oauth2-token-provider":{"name":"el-cs-oauth2-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-path-prefix":{"name":"el-cs-path-prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key-id":{"name":"api-key-id","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-interval":{"name":"el-cs-sniffer-interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-failure-delay":{"name":"el-cs-sniffer-failure-delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-password":{"name":"el-cs-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"authorization-scheme":{"name":"authorization-scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-connect-timeout":{"name":"el-cs-connect-timeout","displayName":"Connect timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-socket-timeout":{"name":"el-cs-socket-timeout","displayName":"Read timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"518c3173-0197-1000-cb1a-56821199e67d"},{"identifier":"4ad0bf71-a5de-39f7-9f74-07213d115a9f","instanceIdentifier":"6bb88ba4-0198-1000-5f21-024bb5659e27","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"518c3173-0197-1000-cb1a-56821199e67d"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}