nifi/user_templates/opensearch_ingest_docs_annotations_medcat_service_to_es.json
{"flowContents":{"identifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","instanceIdentifier":"7ca3e642-019f-1000-9c25-78bd6b99c085","name":"opensearch_docs_ingest_annotations_to_es","comments":"","position":{"x":384.0,"y":544.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4f6ef03a-0199-1000-bf6b-34d8129e4932","instanceIdentifier":"60f13a9d-8c07-382a-23f0-fccf55e81dc3","name":"PutElasticsearchJson","comments":"","position":{"x":-224.0,"y":-48.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.10.0"},"properties":{"Dynamic Templates":null,"Treat Not Found as Success":"true","Script":null,"Max FlowFiles Per Batch":"100","Max Batch Size":"","Max JSON Field String Length":"20 MB","Index Field":null,"Output Bulk Request":"false","Index Operation":"index","Index":"encounters_annotations","Input Content Format":"Single JSON","Retain Identifier Field":"true","Log Error Responses":"false","Output Error Responses":"false","Identifier Attribute":"annotation_id","Retain Index Field":"true","Type":null,"Suppress Nulls":"never-suppress","Timestamp Field":null,"Scripted Upsert":"false","Identifier Field":null,"Client Service":"06280792-dc54-3d7a-9d35-76ce834dcec3","Character Set":"UTF-8","Retain Timestamp Field":"true"},"propertyDescriptors":{"Dynamic Templates":{"name":"Dynamic Templates","displayName":"Dynamic Templates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Treat Not Found as Success":{"name":"Treat Not Found as Success","displayName":"Treat Not Found as Success","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script":{"name":"Script","displayName":"Script","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max FlowFiles Per Batch":{"name":"Max FlowFiles Per Batch","displayName":"Max FlowFiles Per Batch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Field":{"name":"Index Field","displayName":"Index Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Bulk Request":{"name":"Output Bulk Request","displayName":"Output Bulk Request","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Operation":{"name":"Index Operation","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index":{"name":"Index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Content Format":{"name":"Input Content Format","displayName":"Input Content Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retain Identifier Field":{"name":"Retain Identifier Field","displayName":"Retain Identifier Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Error Responses":{"name":"Log Error Responses","displayName":"Log Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Error Responses":{"name":"Output Error Responses","displayName":"Output Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Identifier Attribute":{"name":"Identifier Attribute","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retain Index Field":{"name":"Retain Index Field","displayName":"Retain Index Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Type":{"name":"Type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Nulls":{"name":"Suppress Nulls","displayName":"Suppress Nulls","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Field":{"name":"Timestamp Field","displayName":"Timestamp Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Scripted Upsert":{"name":"Scripted Upsert","displayName":"Scripted Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Identifier Field":{"name":"Identifier Field","displayName":"Identifier Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retain Timestamp Field":{"name":"Retain Timestamp Field","displayName":"Retain Timestamp Field","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","successful"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"7824060e-49ad-3398-8b25-28be95944992","instanceIdentifier":"9697aa81-264b-35f1-99be-c03afe7cf085","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","position":{"x":408.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"annotation_id":"$.annotation_id","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"annotation_id":{"name":"annotation_id","displayName":"annotation_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4794347b-b4c6-33c6-8812-b952500787ca","instanceIdentifier":"7cac66f4-019f-1000-5e51-6068e5886be6","name":"CogStackParseCogStackServiceResult","comments":"","position":{"x":-224.0,"y":-256.0},"type":"CogStackParseCogStackServiceResult","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.3"},"properties":{"medcat_empty_text_handling":"drop","document_text_field_name":"text","medcat_no_annotations_handling":"restore","medcat_output_mode":"not_set","service_message_type":"medcat","output_text_field_name":"text","document_id_field_name":"id","medcat_deid_keep_annotations":"true"},"propertyDescriptors":{"medcat_empty_text_handling":{"name":"medcat_empty_text_handling","displayName":"medcat_empty_text_handling","identifiesControllerService":false,"sensitive":false,"dynamic":false},"document_text_field_name":{"name":"document_text_field_name","displayName":"document_text_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"medcat_no_annotations_handling":{"name":"medcat_no_annotations_handling","displayName":"medcat_no_annotations_handling","identifiesControllerService":false,"sensitive":false,"dynamic":false},"medcat_output_mode":{"name":"medcat_output_mode","displayName":"medcat_output_mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service_message_type":{"name":"service_message_type","displayName":"service_message_type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output_text_field_name":{"name":"output_text_field_name","displayName":"output_text_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"document_id_field_name":{"name":"document_id_field_name","displayName":"document_id_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"medcat_deid_keep_annotations":{"name":"medcat_deid_keep_annotations","displayName":"medcat_deid_keep_annotations","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","instanceIdentifier":"3b975f69-145b-3085-43c0-2ce7bbed73d3","name":"SplitJson","comments":"","position":{"x":408.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef038-0199-1000-a0ed-ac10e18267f9","instanceIdentifier":"9956779c-521f-3c28-6146-54bbe87db5c2","name":"SearchElasticsearch","comments":"","position":{"x":-224.0,"y":-888.0},"type":"org.apache.nifi.processors.elasticsearch.SearchElasticsearch","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.10.0"},"properties":{"Aggregation Results Format":"BUCKETS_ONLY","Script Fields":null,"Pagination Keep Alive":"30 mins","Query":"{ \"_source\": [\"id\", \"text\"],\n  \"query\": {\n    \"bool\": {\n      \"must\": [\n        { \"exists\": { \"field\": \"text\" } }\n      ]\n    }\n  }\n}","Max JSON Field String Length":"20 MB","Size":null,"Aggregations":null,"Query Definition Style":"full","Restart On Finish":"false","Index":"encounters","Search Results Split":"splitUp-no","Search Results Format":"SOURCE_ONLY","Output No Hits":"false","Type":null,"Fields":null,"Query Attribute":null,"Aggregation Results Split":"splitUp-no","Sort":null,"Pagination Type":"pagination-scroll","Client Service":"06280792-dc54-3d7a-9d35-76ce834dcec3","Query Clause":null},"propertyDescriptors":{"Aggregation Results Format":{"name":"Aggregation Results Format","displayName":"Aggregation Results Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Fields":{"name":"Script Fields","displayName":"Script Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pagination Keep Alive":{"name":"Pagination Keep Alive","displayName":"Pagination Keep Alive","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Size":{"name":"Size","displayName":"Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Aggregations":{"name":"Aggregations","displayName":"Aggregations","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query Definition Style":{"name":"Query Definition Style","displayName":"Query Definition Style","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Restart On Finish":{"name":"Restart On Finish","displayName":"Restart On Finish","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index":{"name":"Index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Results Split":{"name":"Search Results Split","displayName":"Search Results Split","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Results Format":{"name":"Search Results Format","displayName":"Search Results Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output No Hits":{"name":"Output No Hits","displayName":"Output No Hits","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Type":{"name":"Type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fields":{"name":"Fields","displayName":"Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query Attribute":{"name":"Query Attribute","displayName":"Query Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Aggregation Results Split":{"name":"Aggregation Results Split","displayName":"Aggregation Results Split","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sort":{"name":"Sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pagination Type":{"name":"Pagination Type","displayName":"Pagination Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Query Clause":{"name":"Query Clause","displayName":"Query Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef03b-0199-1000-ce55-a83a235f6052","instanceIdentifier":"1fffb6ae-5809-308c-f91c-ee60fc856cf8","name":"InvokeHTTP","comments":"","position":{"x":-224.0,"y":-472.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"True","Connection Timeout":"10 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://cogstack-medcat-service-production:5000/api/process_bulk","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"120 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"d61f3f3a-1348-3932-9008-c964a78ad351","instanceIdentifier":"01a3837d-e498-397e-1731-93b946438171","name":"CogStackPrepareRecordForNlp","comments":"","position":{"x":-224.0,"y":-688.0},"type":"CogStackPrepareRecordForNlp","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1"},"properties":{"document_text_field_name":"text","process_flow_file_type":"json","document_id_field_name":"id"},"propertyDescriptors":{"document_text_field_name":{"name":"document_text_field_name","displayName":"document_text_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"process_flow_file_type":{"name":"process_flow_file_type","displayName":"process_flow_file_type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"document_id_field_name":{"name":"document_id_field_name","displayName":"document_id_field_name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"dddde783-f4f5-345e-a5b6-3555440c5fae","instanceIdentifier":"7cacbc3a-019f-1000-631b-129c3437dbcc","name":"","source":{"id":"4f6ef03b-0199-1000-ce55-a83a235f6052","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"InvokeHTTP","comments":"","instanceIdentifier":"1fffb6ae-5809-308c-f91c-ee60fc856cf8"},"destination":{"id":"4794347b-b4c6-33c6-8812-b952500787ca","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"CogStackParseCogStackServiceResult","comments":"","instanceIdentifier":"7cac66f4-019f-1000-5e51-6068e5886be6"},"labelIndex":0,"zIndex":25,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef048-0199-1000-e3e1-ed0581d1e39b","instanceIdentifier":"ccfc68b7-8500-33f5-daeb-c3408522c1a3","name":"","source":{"id":"4f6ef038-0199-1000-a0ed-ac10e18267f9","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"SearchElasticsearch","comments":"","instanceIdentifier":"9956779c-521f-3c28-6146-54bbe87db5c2"},"destination":{"id":"d61f3f3a-1348-3932-9008-c964a78ad351","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"CogStackPrepareRecordForNlp","comments":"","instanceIdentifier":"01a3837d-e498-397e-1731-93b946438171"},"labelIndex":0,"zIndex":1,"selectedRelationships":["hits","aggregations"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef051-0199-1000-540c-72aa95c7f5aa","instanceIdentifier":"76feef8d-4d10-3810-07a3-5f1fe29af369","name":"","source":{"id":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"SplitJson","comments":"","instanceIdentifier":"3b975f69-145b-3085-43c0-2ce7bbed73d3"},"destination":{"id":"4f6ef03c-0199-1000-fada-c641cccb88e0","type":"FUNNEL","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"Funnel","comments":"","instanceIdentifier":"d013ecb0-cec6-3177-54e1-cd02ce263bc2"},"labelIndex":0,"zIndex":16,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"d25b7cf5-d43f-3bed-b1dc-c57fa67c3085","instanceIdentifier":"7a93729b-29e7-3cfe-91ae-40d538debf58","name":"","source":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"9697aa81-264b-35f1-99be-c03afe7cf085"},"destination":{"id":"9235994b-7e87-3c4c-9367-3120d9ae1701","type":"FUNNEL","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"Funnel","comments":"","instanceIdentifier":"a8c7b171-62cb-3842-1a5b-644c10fc86d3"},"labelIndex":0,"zIndex":20,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef04a-0199-1000-fa89-a31050551c4c","instanceIdentifier":"4d09d94b-28e4-3a06-f233-e3cf145d0e67","name":"","source":{"id":"4f6ef03b-0199-1000-ce55-a83a235f6052","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"InvokeHTTP","comments":"","instanceIdentifier":"1fffb6ae-5809-308c-f91c-ee60fc856cf8"},"destination":{"id":"4f6ef041-0199-1000-414e-f0d8b090d0fc","type":"FUNNEL","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"Funnel","comments":"","instanceIdentifier":"c56ec3b3-0138-3287-a615-53ecd3d41454"},"labelIndex":0,"zIndex":6,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"0633df7b-b6f5-324d-8f52-2dccdd06dec9","instanceIdentifier":"7cac97e1-019f-1000-aa6e-8612dfd43cfd","name":"","source":{"id":"4794347b-b4c6-33c6-8812-b952500787ca","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"CogStackParseCogStackServiceResult","comments":"","instanceIdentifier":"7cac66f4-019f-1000-5e51-6068e5886be6"},"destination":{"id":"4f6ef03d-0199-1000-f2d3-036a48f6cab5","type":"FUNNEL","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"Funnel","comments":"","instanceIdentifier":"ff2c34bd-0faf-3b02-8cec-dee3ffe4bfa6"},"labelIndex":0,"zIndex":23,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"74b5b7bf-70ab-39c5-ac33-775ef659b714","instanceIdentifier":"7cacab9d-019f-1000-5bce-d104c80ddd9d","name":"","source":{"id":"4794347b-b4c6-33c6-8812-b952500787ca","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"CogStackParseCogStackServiceResult","comments":"","instanceIdentifier":"7cac66f4-019f-1000-5e51-6068e5886be6"},"destination":{"id":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"SplitJson","comments":"","instanceIdentifier":"3b975f69-145b-3085-43c0-2ce7bbed73d3"},"labelIndex":0,"zIndex":24,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef04b-0199-1000-8171-7f5508365aa5","instanceIdentifier":"b5e16169-3305-3853-d98e-fdacdae1da90","name":"","source":{"id":"4f6ef038-0199-1000-a0ed-ac10e18267f9","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"SearchElasticsearch","comments":"","instanceIdentifier":"9956779c-521f-3c28-6146-54bbe87db5c2"},"destination":{"id":"4f6ef03f-0199-1000-e999-88a80c4dc736","type":"FUNNEL","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"Funnel","comments":"","instanceIdentifier":"b411aa6c-33bb-3f8a-bebc-3b370ee556dc"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"8a9e2922-9d5b-3355-b6ed-39ca212503df","instanceIdentifier":"5cc42996-3432-3d65-0db9-d637b4cd112c","name":"","source":{"id":"d61f3f3a-1348-3932-9008-c964a78ad351","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"CogStackPrepareRecordForNlp","comments":"","instanceIdentifier":"01a3837d-e498-397e-1731-93b946438171"},"destination":{"id":"4f6ef03e-0199-1000-8d30-641327254f9a","type":"FUNNEL","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"Funnel","comments":"","instanceIdentifier":"ee962d86-3e53-3bd4-746b-f534618b34a4"},"labelIndex":0,"zIndex":21,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef04e-0199-1000-cf82-d9da33757a0d","instanceIdentifier":"6c455ea0-3137-3a33-78fa-05ee4e9bc209","name":"","source":{"id":"4f6ef03a-0199-1000-bf6b-34d8129e4932","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"PutElasticsearchJson","comments":"","instanceIdentifier":"60f13a9d-8c07-382a-23f0-fccf55e81dc3"},"destination":{"id":"4f6ef042-0199-1000-a1ff-821b7e239448","type":"FUNNEL","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"Funnel","comments":"","instanceIdentifier":"539e7b7a-330c-3519-5a5f-4e89e5915257"},"labelIndex":0,"zIndex":13,"selectedRelationships":["failure","retry","errors"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"15b0139a-cd12-333c-9ceb-0b05b63d3de6","instanceIdentifier":"13850950-151d-3f90-7d53-71cbb79827b4","name":"","source":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"9697aa81-264b-35f1-99be-c03afe7cf085"},"destination":{"id":"bc6e34fd-b83a-38dd-8814-cae922476dd2","type":"FUNNEL","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"Funnel","comments":"","instanceIdentifier":"f07b18e3-9df6-3b50-3b12-021140c32faf"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef04d-0199-1000-69b3-4d8ec67ea6f2","instanceIdentifier":"02165ebd-c5d4-32fa-c11f-9c3861780cfb","name":"","source":{"id":"4f6ef036-0199-1000-0f81-2e8b77aa5c73","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"SplitJson","comments":"","instanceIdentifier":"3b975f69-145b-3085-43c0-2ce7bbed73d3"},"destination":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"9697aa81-264b-35f1-99be-c03afe7cf085"},"labelIndex":0,"zIndex":17,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"e5aa33e5-2d74-3311-9119-13ac3b46cdaa","instanceIdentifier":"7272ef9f-85ac-3d66-6765-38c9e0cd5205","name":"","source":{"id":"7824060e-49ad-3398-8b25-28be95944992","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"EvaluateJsonPath-create_annotation_id_store_as_attritbute","comments":"","instanceIdentifier":"9697aa81-264b-35f1-99be-c03afe7cf085"},"destination":{"id":"4f6ef03a-0199-1000-bf6b-34d8129e4932","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"PutElasticsearchJson","comments":"","instanceIdentifier":"60f13a9d-8c07-382a-23f0-fccf55e81dc3"},"labelIndex":0,"zIndex":18,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"a0e20522-56da-37d8-90ef-67a8bf5198d1","instanceIdentifier":"6677b841-2fbd-39bc-43e4-58f0f88f004e","name":"","source":{"id":"d61f3f3a-1348-3932-9008-c964a78ad351","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"CogStackPrepareRecordForNlp","comments":"","instanceIdentifier":"01a3837d-e498-397e-1731-93b946438171"},"destination":{"id":"4f6ef03b-0199-1000-ce55-a83a235f6052","type":"PROCESSOR","groupId":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1","name":"InvokeHTTP","comments":"","instanceIdentifier":"1fffb6ae-5809-308c-f91c-ee60fc856cf8"},"labelIndex":0,"zIndex":22,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"}],"labels":[{"identifier":"4f6ef045-0199-1000-7730-eb9d736c9d6e","instanceIdentifier":"6ec64a40-a174-3b27-244d-e176caf7581e","position":{"x":136.0,"y":-888.0},"label":"IMPORTANT: if you don't want for the processor to go on forever please set the 'Restart On Finish?' to 'false.\n\n","zIndex":1,"width":176.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"64d5a523-019a-1000-cc5b-0a7cdbb9ab09","instanceIdentifier":"8a1213ed-04bd-314a-09a6-306ea096b8c2","position":{"x":-224.0,"y":-968.0},"label":"IMPORTANT: the query pulls only the id and the text fields (where the field is present).\n\n\n","zIndex":1,"width":352.0,"height":72.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef043-0199-1000-68ba-f8082b95bf3b","instanceIdentifier":"a519dc4f-5adb-38aa-896f-ee0e0cf57978","position":{"x":136.0,"y":-472.0},"label":"IMPORTANT: make sure the 'Request Body Enabled' is set to 'true', which means the file will get sent as a json rather than a binary.","zIndex":1,"width":176.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef044-0199-1000-7659-6d80322a5725","instanceIdentifier":"4c770ed5-95ff-3c73-0df7-cddd2bad6750","position":{"x":136.0,"y":-688.0},"label":"IMPORTANT: make sure the url is correct, if you have medcat service on an other server, the default DEID instance port is 5556","zIndex":1,"width":176.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"e8de00c2-e3ac-3481-b7ca-f3e46d5066c4","instanceIdentifier":"40e9aa94-cb9f-3735-c6ce-9b6669034a92","position":{"x":768.0,"y":56.0},"label":"Here we get the id of the annotation and put it as an attribute for use with ElasticSearch for unique record indexing.","zIndex":2,"width":376.0,"height":152.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"}],"funnels":[{"identifier":"4f6ef041-0199-1000-414e-f0d8b090d0fc","instanceIdentifier":"c56ec3b3-0138-3287-a615-53ecd3d41454","position":{"x":-552.0,"y":-432.0},"componentType":"FUNNEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"9235994b-7e87-3c4c-9367-3120d9ae1701","instanceIdentifier":"a8c7b171-62cb-3842-1a5b-644c10fc86d3","position":{"x":560.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef03d-0199-1000-f2d3-036a48f6cab5","instanceIdentifier":"ff2c34bd-0faf-3b02-8cec-dee3ffe4bfa6","position":{"x":-552.0,"y":-216.0},"componentType":"FUNNEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef042-0199-1000-a1ff-821b7e239448","instanceIdentifier":"539e7b7a-330c-3519-5a5f-4e89e5915257","position":{"x":-552.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef03c-0199-1000-fada-c641cccb88e0","instanceIdentifier":"d013ecb0-cec6-3177-54e1-cd02ce263bc2","position":{"x":560.0,"y":-392.0},"componentType":"FUNNEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef03f-0199-1000-e999-88a80c4dc736","instanceIdentifier":"b411aa6c-33bb-3f8a-bebc-3b370ee556dc","position":{"x":-552.0,"y":-848.0},"componentType":"FUNNEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"bc6e34fd-b83a-38dd-8814-cae922476dd2","instanceIdentifier":"f07b18e3-9df6-3b50-3b12-021140c32faf","position":{"x":1104.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"4f6ef03e-0199-1000-8d30-641327254f9a","instanceIdentifier":"ee962d86-3e53-3bd4-746b-f534618b34a4","position":{"x":-552.0,"y":-648.0},"componentType":"FUNNEL","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"}],"controllerServices":[{"identifier":"c3333d2e-a62b-3030-b488-ced579946f0c","instanceIdentifier":"210c2918-f6b4-374e-10ca-67f4cfe6df62","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.10.0"},"properties":{"Truststore Type":"JKS","Keystore Type":"JKS","Truststore Filename":"/security/certificates/elastic/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-truststore.key","TLS Protocol":"TLS","Keystore Filename":"/security/certificates/elastic/opensearch/elasticsearch/elasticsearch-1/elasticsearch-1-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Password":{"name":"Key Password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"TLS Protocol":{"name":"TLS Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"},{"identifier":"06280792-dc54-3d7a-9d35-76ce834dcec3","instanceIdentifier":"45bd4180-7a59-3ae1-ca72-6f7f8eed975e","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.10.0"},"properties":{"Sniffer Request Timeout":"1 sec","Connect Timeout":"5000","HTTP Hosts":"https://elasticsearch-1:9200,https://elasticsearch-2:9200","Path Prefix":null,"API Key ID":null,"Enable Compression":"false","Read Timeout":"60000","Sniff on Failure":"false","Sniffer Failure Delay":"1 min","OAuth2 Access Token Provider":null,"Suppress Null and Empty Values":"always-suppress","Node Selector":"ANY","Proxy Configuration Service":null,"Strict Deprecation":"false","Sniff Cluster Nodes":"false","SSL Context Service":"c3333d2e-a62b-3030-b488-ced579946f0c","Send Meta Header":"true","Username":"admin","Authorization Scheme":"BASIC","Sniffer Interval":"5 mins","Run As User":null,"Character Set":"UTF-8"},"propertyDescriptors":{"Sniffer Request Timeout":{"name":"Sniffer Request Timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connect Timeout":{"name":"Connect Timeout","displayName":"Connect Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"API Key ID":{"name":"API Key ID","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Compression":{"name":"Enable Compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniff on Failure":{"name":"Sniff on Failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Node Selector":{"name":"Node Selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Strict Deprecation":{"name":"Strict Deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JWT Shared Secret":{"name":"JWT Shared Secret","displayName":"JWT Shared Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"API Key":{"name":"API Key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Send Meta Header":{"name":"Send Meta Header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization Scheme":{"name":"Authorization Scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Hosts":{"name":"HTTP Hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Prefix":{"name":"Path Prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniffer Failure Delay":{"name":"Sniffer Failure Delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null and Empty Values":{"name":"Suppress Null and Empty Values","displayName":"Suppress Null and Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniff Cluster Nodes":{"name":"Sniff Cluster Nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sniffer Interval":{"name":"Sniffer Interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Run As User":{"name":"Run As User","displayName":"Run As User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a0278b8d-b0a7-337c-a757-b91cf9f6cbd1"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}